.airline-3U,
.airline-8C,
.airline-8L,
.airline-BK,
.airline-CA,
.airline-CN,
.airline-CZ,
.airline-EU,
.airline-FM,
.airline-G5,
.airline-GS,
.airline-HO,
.airline-HU,
.airline-KN,
.airline-MF,
.airline-MU,
.airline-NS,
.airline-PN,
.airline-SC,
.airline-ZH,
.airline-VD,
.airline-JR,
.airline-KY,
.airline-TV,
.airline-9C,
.airline-JD,
.airline-G8,
.airline-GJ,
.airline-DZ,
.airline-YI,
.airline-QW,
.airline-DR,
.airline-UQ {
  padding-left: 18px;
  padding-bottom: 2px;
  background-color: transparent;
  background-image: url(/images/flightsdomesticlogo_20140911.png);
  background-repeat: no-repeat;
  text-align: left;
  line-height: 15px;
}
.airline-3U {
  background-position: 0px 0px;
}
.airline-8C {
  background-position: 0px -32px;
}
.airline-8L {
  background-position: 0px -64px;
}
.airline-BK {
  background-position: 0px -96px;
}
.airline-CA {
  background-position: 0px -128px;
}
.airline-CN {
  background-position: 0px -160px;
}
.airline-CZ {
  background-position: 0px -192px;
}
.airline-EU {
  background-position: 0px -224px;
}
.airline-FM {
  background-position: 0px -256px;
}
.airline-G5 {
  background-position: 0px -288px;
}
.airline-GS {
  background-position: 0px -320px;
}
.airline-HO {
  background-position: 0px -352px;
}
.airline-HU {
  background-position: 0px -384px;
}
.airline-KN {
  background-position: 0px -416px;
}
.airline-MF {
  background-position: 0px -448px;
}
.airline-MU {
  background-position: 0px -480px;
}
.airline-NS {
  background-position: 0px -512px;
}
.airline-PN {
  background-position: 0px -544px;
}
.airline-SC {
  background-position: 0px -576px;
}
.airline-ZH {
  background-position: 0px -608px;
}
.airline-VD {
  background-position: 0px -640px;
}
.airline-JR {
  background-position: 0px -672px;
}
.airline-KY {
  background-position: 0px -704px;
}
.airline-TV {
  background-position: 0px -736px;
}
.airline-9C {
  background-position: 0px -768px;
}
.airline-JD {
  background-position: 0px -800px;
}
.airline-G8 {
  background-position: 0px -832px;
}
.airline-GJ {
  background-position: 0px -864px;
}
.airline-DZ {
  background-position: 0px -896px;
}
.airline-YI {
  background-position: 0px -928px;
}
.airline-QW {
  background-position: 0px -960px;
}
.airline-DR {
  background-position: 0px -992px;
}
.airline-UQ {
  background-position: 0px -1024px;
}
