/*----------------价格展示样式--------------*/
.florder_price{
    background-color: #fffaed;
    border: 1px solid #f0e9d6;
    padding: 5px;
}

.florder_price .sum {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
}

.toc li .cols.right {
    padding-left: 10px;
}

.florder_price .sum .price ,.price-font-28{
    font-family: Tahoma,Arial,宋体,sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.florder_price .row{
  margin: 0px;
}
.florder_price .row .cols.right {
    float: right;
}

.toc{
  padding: 0px;
}
.toc li .cols {
    background-color: #fffaed;
}

.row .cols {
    float: left;
}

.price {
    color: #ff6600;
}

ul.toc, li {
    list-style: outside none none;
}

.florder_price .headline {
    color: #333;
    font-weight: bold;
}

.florder_price .row {
    color: #666;
    padding-bottom: 0;
}

.toc li {
    background-position: 0 -385px;
}

.florder_price .row {
    color: #666;
    padding-bottom: 3px;
}

ul.order_detail_list>li.row{
  font-size: 11px;
  background-image: url("http://pic.c-ctrip.com/cncorp120313/fltdomestic130905/ico_sprite_130903.png");
  background-repeat: no-repeat;
}

ul.order_detail_list>li.row.headline{
  font-size: 13px;
  padding-left: 0px;
}

.florder_price .order_detail {
    text-align: right;
}


.total-price .price-number{
  font-size: 28px;
  color:#f60;
}

.total-price *{
  margin:0px;
  padding: 0px;
}

.total-price span{
  font-size: 12px
}

.total-price{
  background: #faebcc;
}

.price-number{
  color:#f60;
}

/*----------------城市选择组件样式---------------*/
 .bz-city-dropdown .dropdown-menu  a{
    font-size: 12px;
 }

 .bz-city-dropdown .dropdown-menu{
    min-width: 220px;
    min-height: 100px;
 }

 .bz-city-dropdown .dropdown-menu li{
    margin:0.5px 1.5px;
 }

/*-------------------机票查询搜索框---------------*/
.flights-query-panel {
  /*min-height: 600px;*/
  font-size: 13px;
  width: 273px;
}

.flights-query-panel.affix {
  top: 20px;
}

.flights-query-panel.affix-bottom {
  bottom: 0px;
}


/*---------------订单里面的航班展示 big--------------------*/
.flight-info{
  border: solid 1px #DAEAE6;
  color:#666;
  margin-bottom: 15px;
}

.flight-info .info-head,.flight-info .info-body{
  padding: 10px;
  font-size: 12px;
}

.flight-info .info-head{
  border-bottom: dashed 1px #BFD3CE;
}

.flight-info .pass-by{
  width: 50px;
  padding: 0 5px;
  height: 48px;
  text-align: center;
  background-position: 100% 15px;
  background-image: url("../images/ico_sprite_130903.png");
  background-repeat: no-repeat;
}

.flight-info .time,.flight-info .airline,.flight-info .flight-no{
  color:#222;
}

.flight-info .airline{
  font-size: 14px;
}

.flight-info .airline,.flight-info .seat-type,.flight-info .flight-no {
  padding: 2px;
}

.flight-info .seat-type,.flight-info .flight-no{
  padding-left: 20px;
}

.flight-info .takeoff-time{
  margin-right: 20px;
}

/*------------订单里面的 航班 乘客样式--------------*/
.order-passenger-info{
  padding-bottom: 20px;
  padding-top: 20px;
  color:#777;
  font-size: 12px;
  border-bottom: dashed 1px #87C2B3;
}

.order-passenger-info .head{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.order-passenger-info .name{
  color: #222;
  font-size: 14px;
}

.order-passenger-info .import{
  color: #222;
}

.order-passenger-info p{
  margin-bottom: 2px;
}



/*-----------------------查询里的航班信息信息展示--------------------*/
.book-flight-info{
  padding:10px 10px 20px 10px;
/*  margin-top:-15px;
*/ background:#f7f7f7; 
}

.book-flight-info .title{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 2px 8px;
  font-size: 10px;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border-left: 1px solid #e1e1e8;
  border-bottom: 1px solid #e1e1e8;
/*  border-radius: 0 4px 0 4px;*/
}

.book-flight-info.flight-info-selectd{
  background: #E8F2DE;
  border:solid 1px #e7e7e7;
}

.book-flight-info.flight-info-selectd .title{
  border:none;
  background: #7db500;
  color:#f7f7f7;
}


/*边距设置为0*/
.book-flight-info ul,
.book-flight-info li,
.book-flight-info div
{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*航程信息对齐*/
.book-flight-info .book-flight-from{
  text-align: right;
}


.book-flight-info .book-flight-to{
  text-align: left;
}

/*时间地点字体*/
.book-flight-info h4 span{
  font-size: 15px
}

/*一般信息字体大小*/
.book-flight-info p,
.book-flight-info span,
.book-flight-info a,
.book-flight-info table
{
  font-size: 12px;
}

.book-flight-info h4 b,
.book-flight-info h4 
.date, .book-flight-info p span{
    margin-right: 10px;
}

.book-flight-info,
.flight-number,
.book-flight-info .plane-type,
.book-flight-info .seat-type,
.total-price span {
    color: #666;
}


/*订单页面*/

.order-list:hover{
  background: #f7f7f7;
  padding:10px 0px;
  border-bottom:solid 1px #e7e7e7;
  height:99px;margin-bottom:0px
}

.order-list{
  padding:10px 0px;
  border-bottom:solid 1px #e7e7e7;
  height:99px;margin-bottom:0px
}

.order-list ul{
  padding-left: 10px;
}

/*退改签的航班信息展示*/
.change-flight-info{
  border-bottom: dashed 1px #e7e7e7;
}

.change-flight-info span{
  display: inline-block;
}

.change-flight-info .f-psg{
  width:80px;
}

.change-flight-info .f-airline{
  width: 150px;
}

.change-flight-info .f-takeoff{
  width: 180px;
}

.change-flight-info .f-cabin{
  width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.change-flight-info .origin{
  padding-top: 8px;
  padding-bottom: 5px; 
}

.change-flight-info .origin-disabled{
  background: #e7e7e7;
}

.change-flight-info .origin-disabled .origin-flight{
  color:#B5B5B5;
}


.change-flight-info .change{
  padding-top: 8px;
  padding-bottom: 5px;
  background: #68AD5D;
  color: #574A4A;
}

.change-flight-info .fa-minus-circle{
  color:#993829;
}



table.bz-flight-results-2 {
  margin-bottom: 0px;
}

table.bz-flight-results-2 tr{
  padding: 0px;
}

table.bz-flight-results-2 tr.head{
/*  background: #f9f8f8;
*/}

table.bz-flight-results-2 tr.head td{
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

table.bz-flight-results-2 tr.body td{
  font-size: 12px;
  border-top: dashed 1px #ddd;
  padding-top: 8px;
  padding-bottom: 2px;
}

table.bz-flight-results-2 span{
  display: inline-block;
}

table.bz-flight-results-2 tr.head td.f-no{
  width: 100px;
  padding-bottom: 9px;
  padding-top: 15px;
}

table.bz-flight-results-2 tr.head td.f-takeoff{
  width: 150px;
}

table.bz-flight-results-2 tr.head td.f-arrive{
  width: 150px;
}

table.bz-flight-results-2 tr.head td.f-price{
  width: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
}

table.bz-flight-results-2 tr.head td.f-cabin{
  width: 150px;
  cursor: pointer;
  padding-bottom: 20px;
  padding-top: 20px;

}

table.bz-flight-results-2 tr.head td.f-pass{
}

table.bz-flight-results-2 tr.head td.f-get{
  padding-bottom: 18px;
  padding-top: 18px;
}

/*---------------------------------酒店----------------------------------*/
/*-------------搜索框------------------*/

.hotel-search-box .form-group{
  width: 220px;
  margin-right: 20px;
}

.hotel-search-box .form-group label{
  width: 60px;
}

.hotel-search-box .form-group input{
  width: 150px;
}

.hotel-search-box .form-group.query-text{
  width: 300px;
}

.hotel-search-box .form-group.query-text input{
  width: 230px;
}

/*-------------筛选框------------------*/

.filter-box{
  margin-top: 10px;
  padding-top:5px;
  padding-bottom: 5px;
}

.filter-box div.col-sm-12{
  padding: 3px 0px;
  border-bottom: dashed 1px #e7e7e7;
}

.filter-box div.name{
  width: 62px;
  float: left;
  display: inline-block;
}

.filter-box div.name label{ 
  font-size: 13px;
  margin-top: 4px;
}

.filter-box div.content{
  font-size: 12px;
  width: 1000px;
  float: left;
  display: inline-block;
}

.filter-box div.content li{
  float: left;
  display: inline;
  color: #666;
  height: 20px;
  padding: 1px 4px 1px 0;
  overflow: hidden;
  margin-top: 4px;
}

.filter-box div.content label{
  width: 98px;
  height: 20px;
  float: left;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  font-weight: normal;
  padding-left: 3px;
}

.filter-box div.content label input{
  margin-right: 2px;
  vertical-align: middle;
  float: left;
  margin-top: 0px;
}

.filter-box .com-districts{
}

.filter-box .adm-districts{
}
/*-----------------------酒店查询页面---------------*/
/*hotel-list-item*/
.hotel-list-item .static-info{
  padding: 15px 0px;
}
/*酒店基本信息*/
.hotel-list-item .static-info>div{
  height: 110px;
  padding-left: 15px;
  display: inline-block;
  float: left;
  border-right: dashed 1px #e7e7e7;
}

.hotel-list-item .static-info>div.picture{
  width: 160px;
  padding-left: 0px;
}

.hotel-list-item .static-info>div.brief{
  width: 360px;
}

.hotel-list-item .static-info>div.brief .name{
  font-size: 18px;
}

.hotel-list-item .static-info>div.review{
  width: 128px;
}

.hotel-list-item .static-info>div.review .good{
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
.hotel-list-item .static-info>div.low-rate{
  width: 144px;
  text-align: center;
  border-right: none;
}

.hotel-list-item .static-info .price{
  font-size: 32px;
  color:#f60;
}


/*--------酒店列表页面的 房型 展示--------*/

.room-list{
  border-top: solid 1px #d9e8ff;

}

.room-list ul{
  padding-left: 0px;
}

/*--------directive room-list-item --------*/

.room-list-item{
  height: auto;
  overflow: auto;
  border-bottom: solid 1px #d9e8ff;
  background: rgb(249,251,255);
  _display: inline-block;
  clear: left;
}


.room-list-item ul{
  margin-bottom: 0px;
}

.room-list-item a{
  display: inline-block;
}
.room-list-item a.name{
  width:100px;
}
.room-list-item a.bed{
  width:100px;
}
.room-list-item a.breakfast{
  width:150px;
}
.room-list-item a.price{
  width:100px;
}
.room-list-item a.payment-type{
  width:100px;
}


/*----------销售类型 rate-plan-item-----*/
.rate-plan-item{
  font-size: 12px;
  border-top: dashed 1px #d9e8ff;
  padding-top: 7px;
  padding-bottom: 7px;
}

.rate-plan-item.head{
  font-size: 13px;
  border-top:none
}

.rate-plan-item span{
  display: inline-block;
}

/*销售名称*/
.rate-plan-item span.name{
  width: 200px;
}

/*床型*/
.rate-plan-item span.bed-type{
  width: 60px;
}

/*早餐*/
.rate-plan-item span.has-breakfast{
  width: 100px;
}

/*取消*/
.rate-plan-item span.cancel-policy{
  width: 100px;
}

/*价格*/
.rate-plan-item span.average-price{
  width: 100px;
}

/*返现*/
.rate-plan-item span.return-cash{
  width: 60px;
}

/*item*/
.rate-plan-item span.item{
  width: 55px;
}

/*prepay*/
.rate-plan-item span.prepay{
  width: 45px;
}

.rate-plan-list .rate-plan-item span.name{
  padding-left: 30px;
}

/*-------------------酒店详细页面----------------*/
/*------酒店 静态信息------*/
.path-hotels-id .hotel-base-main  .images .exterior{
  width: 320px;
  height: 220px;
  float: left;
  display: inline-block;
}

.path-hotels-id .hotel-base-main  .images .inner{
  width: 480px;
  height: 220px;
  float: left;
  display: inline-block;
}

.path-hotels-id .hotel-base-main  .images .inner>div{
  width: 145px;
  height: 105px;
  float: left;
  display: inline-block;
  border-right: solid 1px #e7e7e7;
  margin-bottom: 10px;
  margin-left: 15px;
}

.path-hotels-id .hotel-base-main .hotel-info{
  width: 500px;
  float: left;
}

.path-hotels-id .hotel-base-main .review{
  width: 140px;
  float: left;
}

.path-hotels-id .hotel-base-main .review .good{
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.path-hotels-id .hotel-base-main .low-rate{
  width: 120px;
  float: left;
  margin-top: 20px;
  text-align: center;
}
.path-hotels-id .hotel-base-main .low-rate .price{
  font-size: 38px;
}


/*--------酒店列表页面的酒店静态信息展示--------*/
.path-hotels-id .hotel-info .name{
  font-size: 24px;
}

.path-hotels-id .hotel-info .brief{
  padding-top: 6px;
  padding-bottom: 6px;
}

.path-hotels-id .hotel-info .address{
  font-size: 12px;
}

.path-hotels-id .hotel-info .rate-star{
  margin-left: 2px;
}


.path-hotels-id .rate-plan-list{
  padding-left: 0px;
  margin-bottom: 0px;
}



/* --------------销售信息item----------------*/

.path-hotels-id .rate-plan-item.first{
  border-top: none;
}
.path-hotels-id .rate-plan-item span.name{
  width: 200px;
}

.path-hotels-id .rate-plan-item span.bed-type{
  display: none;
}

.path-hotels-id .rate-plan-item span.has-breakfast{
  width: 50px;
}

.path-hotels-id .rate-plan-item span.cancel-policy{
  width: 60px;
}

.path-hotels-id .rate-plan-item span.average-price{
  width: 100px;
}

.path-hotels-id .rate-plan-item span.return-cash{
  width: 60px;
}

.path-hotels-id .rate-plan-item span.item{
  display: none;
}

.path-hotels-id .rate-plan-item span.prepay{
  width: 40px;
}

.path-hotels-id .rate-plan-item span.operate{
}




.path-hotels-id  .room-type{
  width: 200px;
  float: left;
}

.path-hotels-id .room-plans{
  width: 600px;
  float: right;
}

.path-hotels-id .head{
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: #f9f8f8;
}

.path-hotels-id .head .room-plans .rate-plan-item{
  padding-top: 0px;
  padding-bottom: 0px;
}

.path-hotels-id .body .room-plans{
  min-height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.path-hotels-id .body .room-type{
  min-height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.path-hotels-id  .room-type .name{
  width: 110px;
  float: right;
}

.path-hotels-id .hotel-facilities>div{
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  border-bottom: dashed 1px #e7e7e7;
}

.path-hotels-id .hotel-facilities span.item{
  display: inline-block;
  width: 150px;
}

.path-hotels-id .hotel-facilities .name{
  width: 150px;
  display: inline-block;
  float: left;
}

.path-hotels-id .hotel-facilities .info{
  width: 600px;
  display: inline-block;
  float: left;
}

.path-hotels-id  .room-type .img{
  width: 70px;
  float: left;
}

/*图片*/
.img-warp .lImg{
  position: absolute;
  z-index: 100;
  border:solid 4px #d9e8ff;
}
.path-hotels .img-warp .lImg{
  left: 170px;
  top: 0px;
}

.hotel-room-list .body .room-plans{
  border-left: solid 1px #e7e7e7;
}

.hotel-room-list .body>div{
  border-bottom: solid 1px #e7e7e7;
}

.hotel-room-list .head{
  border-bottom: solid 1px #e7e7e7;
  border-top: solid 1px #e7e7e7;
}

.hotel-room-list .head .rate-plan-item{
  border:none;
}

.path-hotels-id .body .room-detail{
  border-top: solid 1px #e7e7e7;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fffcdb;
}

.path-hotels-id .body .room-detail p{
  margin-bottom: 3px;
}

.path-hotels-id .body .room-detail p>span{
  width: 250px;
  display: inline-block;
  font-size: 11px;
}
.path-hotels .page-box{
  padding:5px 0px;

}
.path-hotels .pagination{
  margin-bottom: 0px;
}
