.bz-nav {
  list-style: none;
  padding-left: 0;
}

.bz-nav ul {
  list-style: none;
  padding-left: 10px; 
}

.bz-nav li a {
  display: block;
  padding: 4px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #999;
  text-decoration: none;
}

.bz-nav li a.active {
  padding-left: 18px;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-left: 2px solid #333;
}

.bz-nav a:hover {
  padding-left: 18px;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-left: 1px solid #333;
}

.bz-nav .bz-nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 13px;
  font-weight: 400;
}