.jk-badge-primary-inverse{
  background: #fff;
  color: #5bc0de;
  border: solid 1px #5bc0de;
}

.backgroundNone{
  background: #fff;
}

/*-----------字体颜色 图标颜色---------- */

/*图标颜色  bootstrap */
.jk-ico-disabled{
color:#c5c5c5;
}

.jk-ico-grey{
  color:#777;
}

.jk-ico-primary{
  color:#428bca;
}


.jk-ico-success{
  color:#5cb85c;
}

.jk-ico-info{
  color:#5bc0de;
}

.jk-ico-warning{
  color:#f0ad4e;
}

.jk-ico-danger{
  color:#d9534f;
}

/*图标颜色 buttons 颜色*/
.jk-ico-danger-2{
  color:#e54028;
}

.jk-ico-primary-2{
  color: #00a1cb;
}

.jk-ico-warning-2{
  color: #f18d05;
}

.jk-ico-default-2{
  color: #e9e9e9;
}

.jk-ico-success-2{
  color: #7db500;
}

/*------------普通字体颜色---------*/
.jk-font-color-9{
  color:#999;
/*  color:#5F5E5E;
  color: #356;
*/}

.jk-font-color-7{
  color:#777;
}

.ƒ{
  color:#666;
}


 /*--------------背景色 -------------------2*/
.jk-bg-primary-2,.jk-badge-primary-2{
  background-color:#00a1cb;
}

.jk-bg-success-2,.jk-badge-success-2{
  background-color:#7db500;
}

.jk-bg-warning-2.jk-badge-warning-2{
  background-color:#f18d05;
}

.jk-bg-danger-2,.jk-badge-danger-2{
  background-color:#e54028;
}

.jk-badge-default{
  background: #e9e9e9;
  color:#5A5757;
}

.jk-bg-primary,.jk-badge-primary{
  background-color:#428bca;
}

.jk-bg-success,.jk-badge-success{
  background-color:#5cb85c;
}

.jk-bg-info,.jk-badge-info{
  background-color:#5bc0de;
}

.jk-bg-warning,.jk-badge-warning{
  background-color:#f0ad4e;
}

.jk-bg-danger,.jk-badge-danger{
  background-color:#d9534f;
}

/*淡灰色背景*/
.slight-grey-bg{
  background:#f7f7f7;
  border-bottom:solid 3px #e5e5e5;
}

/*--------------  字体大小---------------*/
.jk-font-70{
  font-size: 70px;
}
.jk-font-50{
  font-size: 50px;
}
.jk-font-15{
  font-size: 15px;
}

.jk-font-13{
  font-size: 13px;
}

.jk-font-12{
  font-size: 12px;
}
.jk-font-11{
  font-size: 11px;
}

.jk-font-weight-900{
  font-weight: 900;
}

/*---------------有关内外边距--------------*/
.margin15{
  margin:15px;
}

.marginTB15{
  margin-bottom: 15px;
  margin-top: 15px;
}

.marginTB5{
  margin-bottom: 5px;
  margin-top: 5px;

}
.marginTB10{
  margin-bottom: 10px;
  margin-top: 10px;

}
.marginLR0{
  margin-right: 0px;
  margin-left: 0px;
}
.marginLR15{
  margin-right: 15px;
  margin-left: 15px;
}
.marginLR15{
  margin-right: 5px;
  margin-left: 5px;
}
.padLR0{
  padding-left: 0px;
  padding-right: 0px;
}

.padLR4{
  padding-left: 4px;
  padding-right: 4px;
}

.padTB4{
  padding-top: 5px;
  padding-bottom: 4px;
}

.padLR15{
  padding-left: 15px;
  padding-right: 15px;
}

.padTB10{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*-----------------按钮 button-------------------*/

/*xs尺寸的btn */
.btn-group-xs-jk>.btn,.btn-xs-jk{
  line-height: 0.8;
  font-size: 12px;
}

.btn-120{
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 18px;
}


/*------反色按钮-------*/
.btn-success-label,.btn-success-label:hover{
  color: #8fcf00;
  background-color: #fff;
  border-color: #8fcf00;
}

.btn-info-label,.btn-info-label:hover{
  color: #31b0d5;
  background-color: #fff;
  border-color: #31b0d5;
}
.btn-danger-label,.btn-danger-label:hover{
  color: #e8543f;
  background-color: #fff;
  border-color: #e8543f;
}
.btn-warning-label,.btn-warning-label:hover{
  color: #fa9915;
  background-color: #fff;
  border-color: #fa9915;
}
.btn-primary-label,.btn-primary-label:hover{
  color: #00b5e5;
  background-color: #fff;
  border-color: #00b5e5;
}


/*-----------------ledgend-----------------*/

/*带徽章的legend*/
.bagde-legend-warning{
  background-color:#f0ad4e;
  border-bottom:solid 1px #f0ad4e;
}

.ledgend-warning{
  border-color:#faebcc;
  color:#f0ad4e;
}

.ledgend-success{
  border-color:#faebcc;
  color:#f0ad4e;
}

/*-----------------a标签样式-----------------*/
 .a-active{
  color: #2a6496;
 }

 .a-deactive{
  color:#777;
 }

/*liuRtao*/
.pointer {
  cursor: pointer;
}

/*不可点击状态*/
.a-help{
  cursor: help;
}

/*带底色的a标签*/
.a-tag{
    background-color: #DBE3E7 !important;
    border-radius: 2px;
    color: #356 !important;
    font-size: 82%;
    font-weight: normal;
    padding: 0.1em 0.2em;
    vertical-align: 1px;
}




/*--------------------紧凑表单--------------------*/

/*文字和表单行高，字体大小*/
.form-condensed-xs .form-group,
.form-condensed-xs .input-group,
.form-condensed-xs .form-group >.form-control,
.form-condensed-xs .form-group input.form-control,
.form-condensed-xs .form-group select.form-control,
.form-condensed-xs .form-group label.control-label{
  font-size: 12px;
  height: 25px;
  padding:4px;
  color:#777;
}


/*form-group 底外边拒*/
.form-condensed-xs .form-group{
  margin-bottom: 3px;
}

.form-condensed-xs .form-group-inline div.checkbox{
 padding-top: 0px;
}

.form-condensed-xs .form-group p.form-control-static{
  padding-bottom: 0px;
}


/*--------------文字居中-------------------------*/
.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

/*-------------透明-----------------------------*/

.transparent-50{
  filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
  -moz-opacity:0.5; /*Firefox私有，透明度50%*/
  opacity:0.5;/*其他，透明度50%*/
}


/*-------------边框---------------------------*/
 /*点边框*/
.border-bottom-dot{
  background:url("images/dots.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);
}

/*-------------居中--------------------------*/
/*水平居中*/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*----------------badge---------------------*/
.badge-info-inverse{
  border: solid 1px #5bc0de;
  background: #fff;
  color:#5bc0de;
  margin-right: 5px;
}

.badge-primary-inverse{
  border: solid 1px #00a1cb;
  background: #fff;
  color:#00a1cb;
  margin-right: 5px;
}

.badge-success-inverse{
  border: solid 1px #7db500;
  background: #fff;
  color:#7db500;
  margin-right: 5px;
}

.badge-danger-inverse{
  border: solid 1px #e54028;
  background: #fff;
  color:#e54028;
  margin-right: 5px;
}
.badge-warning-inverse{
  border: solid 1px #f18d05;
  background: #fff;
  color:#f18d05;
  margin-right: 5px;
}

.badge-default-inverse{
  border: solid 1px #777;
  background: #fff;
  color:#777;
  margin-right: 5px;
}

.border-top-dashed{
  border-top: dashed 1px #e7e7e7;
}

.bottom-bordered-none{
  border-bottom: none;
}





