/* Space out content a bit */
body {
  /*background: linear-gradient(to bottom, #66a1e4 0px, #22b8bf 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  /*background: #4c4f54;*/
  /*background: #4c4f54;*/
  background:#f9fbf4;
/*  background: url("../images/home_intro_bg.jpg");*/
/*  background: url("../images/bg.jpg");
*/  background-size: cover;

}

.container{
  width: 1000px;
}

/*.path-welcome #container{
  width: 100%;
}*/

.footer {
  margin: 0 auto;
  padding: 20px 0;
  font-size: 12px;
  color: #aaaaaa;
  text-align: center;
}

.footer a {
  color: #aaaaaa;
}

/*liuRtao*/
.pointer {
  cursor: pointer;
}

.a-help{
  cursor: help;
}

[required] {
  border-bottom: solid 1px green;
}
/*ZhangXiaoying*/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/*修改默认的checkbox在行内位置偏下*/
.checkbox{
  margin: 0;
}
/*标题与下一行间距*/
legend{
  margin-bottom: 10px;
}

/*查询按钮与下一行间距*/
.row-space{
  margin-bottom: 10px;
}

/*让行居中，左右空余30%*/
.row-center{
  margin-left: 30%;
  margin-right: 30%
}

/*淡灰色背景*/
.slightGreyBg{
  background:#f7f7f7;

  border-bottom:solid 3px #e5e5e5;
  /*border-bottom:solid 1px #ea6153;*/

  /*padding:5px 0px;
*/}

/*有关内外边距*/
.margin15{
  margin:15px;
}

.marginTB15{
  margin-bottom: 15px;
  margin-top: 15px;
}

.marginTB5{
  margin-bottom: 5px;
  margin-top: 5px;

}
.marginTB10{
  margin-bottom: 10px;
  margin-top: 10px;

}
.marginLR0{
  margin-right: 0px;
  margin-left: 0px;
}
.marginLR15{
  margin-right: 15px;
  margin-left: 15px;
}
.marginLR15{
  margin-right: 5px;
  margin-left: 5px;
}
.padLR0{
  padding-left: 0px;
  padding-right: 0px;
}

.padLR4{
  padding-left: 4px;
  padding-right: 4px;
}

.padTB4{
  padding-top: 5px;
  padding-bottom: 4px;
}

.padLR15{
  padding-left: 15px;
  padding-right: 15px;
}

.padTB10{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*紧凑表单*/

/*文字和表单行高，字体大小*/
.form-condensed-xs .form-group,
.form-condensed-xs .input-group,
.form-condensed-xs .form-group >.form-control,
.form-condensed-xs .form-group input.form-control,
.form-condensed-xs .form-group select.form-control,
.form-condensed-xs .form-group label.control-label{
  font-size: 12px;
  height: 25px;
  padding:4px;
  color:#777;
}


/*form-group 底外边拒*/
.form-condensed-xs .form-group{
  margin-bottom: 3px;
}

.form-condensed-xs .form-group-inline div.checkbox{
  padding-top: 0px;
}

.form-condensed-xs .form-group p.form-control-static{
  padding-bottom: 0px;
}

/*xs尺寸的btn */
.btn-group-xs-jk>.btn,.btn-xs-jk{
  line-height: 0.8;
  font-size: 12px;
}

.btn-120{
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 18px;
}

.backgroundNone{
  background: #fff;
}

/*图标颜色 */
.jk-ico-grey{
  color:#777;
}

.jk-ico-primary{
  color:#428bca;
}


.jk-ico-success{
  color:#5cb85c;
}

.jk-ico-info{
  color:#5bc0de;
}

.jk-ico-warning{
  color:#f0ad4e;
}

.jk-ico-danger{
  color:#d9534f;
}

/*背景色*/
.jk-bg-primary,.jk-badge-primary{
  background-color:#428bca;
}

.jk-bg-success,.jk-badge-success{
  background-color:#5cb85c;
}

.jk-bg-info,.jk-badge-info{
  background-color:#5bc0de;
}

.jk-bg-warning.jk-badge-warning{
  background-color:#f0ad4e;
}

.jk-bg-danger,.jk-badge-danger{
  background-color:#d9534f;
}

/*图标颜色 2*/
.jk-ico-danger-2{
  color:#e54028;
}

.jk-ico-primary-2{
  color: #00a1cb;
}

.jk-ico-warning-2{
  color: #f18d05;
}

.jk-ico-default-2{
  color: #e9e9e9;
}

.jk-ico-success-2{
  color: #7db500;
}

/*背景色 2*/
.jk-bg-primary-2,.jk-badge-primary-2{
  background-color:#00a1cb;
}

.jk-bg-success-2,.jk-badge-success-2{
  background-color:#7db500;
}

.jk-bg-warning-2.jk-badge-warning-2{
  background-color:#f18d05;
}

.jk-bg-danger-2,.jk-badge-danger-2{
  background-color:#e54028;
}

.jk-badge-default{
  background: #e9e9e9;
  color:#999;
}
/*字体大小*/
.jk-font-50{
  font-size: 50px;
}
.jk-font-15{
  font-size: 15px;
}

.jk-font-13{
  font-size: 13px;
}

.jk-font-12{
  font-size: 12px;
}
.jk-font-11{
  font-size: 11px;
}

.jk-font-color-9{
  color:#999;
}

.jk-font-color-7{
  color:#777;
}

.jk-font-color-6{
  color:#666;
}

.jk-font-weight-900{
  font-weight: 900;
}

.jk-buttom-p-primary{
  background: none repeat scroll 0 0 #00a1cb;
  border: medium none;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  transition-duration: 0.3s;
  transition-property: background, color;
}
/*带徽章的legend*/
.bagde-legend-warning{
  background-color:#f0ad4e;
  border-bottom:solid 1px #f0ad4e;
}

/*warning样式的ledgend*/
.ledgend-warning{
  border-color:#faebcc;
  color:#f0ad4e;
}

/*warning样式的ledgend*/
.ledgend-success{
  border-color:#faebcc;
  color:#f0ad4e;
}

.btn-default-disabled{
  background: #eee;
  border:solid 1px #ccc;
  cursor:not-allowed;
  color:#999;
}

.font-size-11{
  font-size: 11px;
}

/*航班信息*/
.book-flight-info{
  padding:10px 10px 20px 10px;
  /* margin-top:-15px;
  background:#f7f7f7;*/
  border:solid 1px #e7e7e7;
}

.book-flight-info .title{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 2px 8px;
  font-size: 10px;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border-left: 1px solid #e1e1e8;
  border-bottom: 1px solid #e1e1e8;
  /*  border-radius: 0 4px 0 4px;*/
}

.book-flight-info.flight-info-selectd{
/*  border:solid 1px #7db500;
*/  background: #E8F2DE;
}
.book-flight-info.flight-info-selectd .title{
  border:none;
  background: #7db500;
  color:#f7f7f7;
}


/*边距设置为0*/
.book-flight-info ul,
.book-flight-info li,
.book-flight-info div
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/*航程信息对齐*/
.book-flight-info .book-flight-from{
  text-align: right;
}


.book-flight-info .book-flight-to{
  text-align: left;
}

/*时间地点字体*/
.book-flight-info h4 span{
  font-size: 15px
}

/*一般信息字体大小*/
.book-flight-info p,
.book-flight-info span,
.book-flight-info a,
.book-flight-info table
{
  font-size: 12px;
}

.book-flight-info h4 b,
.book-flight-info h4
.date, .book-flight-info p span{
    margin-right: 10px;
}

.book-flight-info,
.flight-number,
.book-flight-info .plane-type,
.book-flight-info .seat-type,
.total-price span {
  color: #666;
}

.price-number{
  color:#f60;
}

.show-tip{
  border-bottom: 1px dotted #0066cc;
  color: #0066cc;
  cursor: pointer;
}

.book-flight-info a{
  cursor: pointer;
}

.total-price .price-number{
  font-size: 28px;
  color:#f60;
}

.total-price *{
  margin:0px;
  padding: 0px;
}

.total-price span{
  font-size: 12px
}

.total-price{
  background: #faebcc;
}

.airline-list{
  font-size: 12px;
  color:#777;
}

.airline-list .time,.airline-list .airline-no{
  color:#4d4d4d;
}

/*a标签样式*/
.a-active{
  color: #2a6496;
}

.a-deactive{
  color:#777;
}
/*a标签样式*/


/*城市选择组件样式*/
.bz-city-dropdown .dropdown-menu  a{
  font-size: 12px;
}

.bz-city-dropdown .dropdown-menu{
  min-width: 220px;
  min-height: 100px;
}

.bz-city-dropdown .dropdown-menu li{
  margin:0.5px 1.5px;
}



input::-webkit-input-placeholder {
  color:    #999;
}
input:-moz-placeholder {
  color:    #999;
}

[fg-simple-tree], div[fg-simple-tree] ul{
  list-style: none;
  padding-left: 20px;
}

.dropdown-menu li a div {
  white-space: normal;
}

.navbar-purse{
  background: #1B4D29;
  color:#fff;
}

/*
 * 紫色风格的导航栏
 *
 * Turn the `.navbar` at the top of the docs purple.
 */

.bs-docs-nav {
  margin-bottom: 20px;
  background-color: #330033;

  background-color:  #1B4D29;
  background-color:  #222;
  border-bottom: 0;
}
.bs-home-nav .bs-nav-b {
  display: none;
}
.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav > li > a {
  font-weight: 500;
  color: #e6e6e6;
}
.bs-docs-nav .navbar-nav > li > a:hover,
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #e6e6e6;
  background-color: #330033;
  background-color: #07342F;
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #330033;
}
.bs-docs-nav .navbar-header .navbar-toggle {
  border-color: #fff;
}
.bs-docs-nav .navbar-header .navbar-toggle:hover,
.bs-docs-nav .navbar-header .navbar-toggle:focus {
  background-color: #330033;
  border-color: #330033;
}

.bs-docs-nav .navbar-nav>.open>a,
.bs-docs-nav .navbar-nav>.open>a:hover,
.bs-docs-nav .navbar-nav>.open>a:focus{
  color: #fff;
  background-color: #080808
}

/*
 * 紫色风格的导航栏
 *
 * Turn the `.navbar` at the top of the docs purple.
 */


/*
* 通用外部container
*
* Turn the `.navbar` at the top of the docs purple.
*/
.out-container{
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  min-height: 600px;
}

/*
 * 页面标题栏
 *
 * Turn the `.navbar` at the top of the docs purple.
 */
.out-container .header-legend{
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 15px;
  background:url("../images/background-line.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

/*机票查询搜索框*/
.flights-query-panel {
  /*min-height: 600px;*/
  font-size: 13px;
  width: 273px;
}

.flights-query-panel.affix {
  top: 20px;
}

.flights-query-panel.affix-bottom {
  bottom: 0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.current-selectd {
  border: dashed 1px green;
}

.nav-tabs>li>a{
  font-size: 12px;
  padding: 5px 8px;
}


/*价格展示样式*/

.florder_price{
  background-color: #fffaed;
  border: 1px solid #f0e9d6;
  padding: 5px;
}

.florder_price .sum {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
}

.toc li .cols.right {
  padding-left: 10px;
}

.florder_price .sum .price ,.price-font-28{
    font-family: Tahoma,Arial,宋体,sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.florder_price .row{
  margin: 0px;
}
.florder_price .row .cols.right {
  float: right;
}

.toc{
  padding: 0px;
}
.toc li .cols {
  background-color: #fffaed;
}

.row .cols {
  float: left;
}

.price {
  color: #ff6600;
}

ul.toc, li {
  list-style: outside none none;
}

.florder_price .headline {
  color: #333;
  font-weight: bold;
}

.florder_price .row {
  color: #666;
  padding-bottom: 0;
}

.toc li {
  background-position: 0 -385px;
}

.florder_price .row {
  color: #666;
  padding-bottom: 3px;
}

ul.order_detail_list>li.row{
  font-size: 11px;
  background-image: url("http://pic.c-ctrip.com/cncorp120313/fltdomestic130905/ico_sprite_130903.png");
  background-repeat: no-repeat;
}

ul.order_detail_list>li.row.headline{
  font-size: 13px;
  padding-left: 0px;
}

.florder_price .order_detail {
  text-align: right;
}
.display-block{
  display: block;
}

.border-bottom-dot{
  background:url("images/dots.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);
}

.transparent-50{
  filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
  -moz-opacity:0.5; /*Firefox私有，透明度50%*/
  opacity:0.5;/*其他，透明度50%*/
}

.btn-success-label,.btn-success-label:hover{
  color: #8fcf00;
  background-color: #fff;
  border-color: #8fcf00;
}

.btn-info-label,.btn-info-label:hover{
  color: #31b0d5;
  background-color: #fff;
  border-color: #31b0d5;
}
.btn-danger-label,.btn-danger-label:hover{
  color: #e8543f;
  background-color: #fff;
  border-color: #e8543f;
}
.btn-warning-label,.btn-warning-label:hover{
  color: #fa9915;
  background-color: #fff;
  border-color: #fa9915;
}
.btn-primary-label,.btn-primary-label:hover{
  color: #00b5e5;
  background-color: #fff;
  border-color: #00b5e5;
}
/*带底色的a标签*/
.a-tag{
  background-color: #DBE3E7 !important;
  border-radius: 2px;
  color: #356 !important;
  font-size: 82%;
  font-weight: normal;
  padding: 0.1em 0.2em;
  vertical-align: 1px;
}

/*订单里面的航班展示*/
.flight-info,.order-passenger-info{
  border: solid 1px #DAEAE6;
  color:#666;
  margin-bottom: 15px;
}

.flight-info .info-head,.flight-info .info-body{
  padding: 10px;
  font-size: 12px;
}

.flight-info .info-head{
  border-bottom: dashed 1px #BFD3CE;
}

.flight-info .pass-by{
  width: 50px;
  padding: 0 5px;
  height: 48px;
  text-align: center;
  background-position: 100% 15px;
  background-image: url("../images/ico_sprite_130903.png");
  background-repeat: no-repeat;
}

.flight-info .time,.flight-info .airline,.flight-info .flight-no{
  color:#222;
}
.flight-info .airline{
  font-size: 14px;
}
.flight-info .airline,.flight-info .seat-type,.flight-info .flight-no {
  padding: 2px;
}

.order-passenger-info{
  padding-bottom: 10px;
  padding-top: 10px;
  color:#777;
  font-size: 12px;
}

.order-passenger-info .name{
  color: #222;
  font-size: 14px;
}

.order-passenger-info .import{
  color: #222;
}

.order-passenger-info p{
  margin-bottom: 2px;
}

/*首页样式*/
.home-bg{
  /*  background: url("../images/home_intro_bg.jpg");*/

  /*background: rgba(71, 109, 132, 0.5);
  */
  /*background: rgba(66,94,87,0.8);
  */}

.badge-primary-inverse{
  border: solid 1px #00a1cb;
  background: #fff;
  color:#00a1cb;
  margin-right: 5px;
}
.display-block{
  display: block;
}

.border-bottom-dot{
  background:url("images/dots.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);
}

.transparent-50{
  filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
  -moz-opacity:0.5; /*Firefox私有，透明度50%*/
  opacity:0.5;/*其他，透明度50%*/
}

.btn-success-label,.btn-success-label:hover{
  color: #8fcf00;
  background-color: #fff;
  border-color: #8fcf00;
}

.btn-info-label,.btn-info-label:hover{
  color: #31b0d5;
  background-color: #fff;
  border-color: #31b0d5;
}
.btn-danger-label,.btn-danger-label:hover{
  color: #e8543f;
  background-color: #fff;
  border-color: #e8543f;
}
.btn-warning-label,.btn-warning-label:hover{
  color: #fa9915;
  background-color: #fff;
  border-color: #fa9915;
}
.btn-primary-label,.btn-primary-label:hover{
  color: #00b5e5;
  background-color: #fff;
  border-color: #00b5e5;
}
/*带底色的a标签*/
.a-tag{
    background-color: #DBE3E7 !important;
    border-radius: 2px;
    color: #356 !important;
    font-size: 82%;
    font-weight: normal;
    padding: 0.1em 0.2em;
    vertical-align: 1px;
}

/*订单里面的航班展示*/
.flight-info,.order-passenger-info{
  border: solid 1px #DAEAE6;
  color:#666;
  margin-bottom: 15px;
}

.flight-info .info-head,.flight-info .info-body{
  padding: 10px;
  font-size: 12px;
}

.flight-info .info-head{
  border-bottom: dashed 1px #BFD3CE;
}

.flight-info .pass-by{
  width: 50px;
  padding: 0 5px;
  height: 48px;
  text-align: center;
  background-position: 100% 15px;
  background-image: url("../images/ico_sprite_130903.png");
  background-repeat: no-repeat;
}

.flight-info .time,.flight-info .airline,.flight-info .flight-no{
  color:#222;
}
.flight-info .airline{
  font-size: 14px;
}
.flight-info .airline,.flight-info .seat-type,.flight-info .flight-no {
  padding: 2px;
}

.order-passenger-info{
  padding-bottom: 10px;
  padding-top: 10px;
  color:#777;
  font-size: 12px;
}

.order-passenger-info .name{
  color: #222;
  font-size: 14px;
}

.order-passenger-info .import{
  color: #222;
}

.order-passenger-info p{
  margin-bottom: 2px;
}

/*首页样式*/
.home-bg{
/*  background: url("../images/home_intro_bg.jpg");*/

/*background: rgba(71, 109, 132, 0.5);
*/
/*background: rgba(66,94,87,0.8);
*/}

.badge-primary-inverse{
  border: solid 1px #00a1cb;
  background: #fff;
  color:#00a1cb;
  margin-right: 5px;
}
