<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>客服系统</title>
    <meta name="description" content="">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <!-- Bootstrap 不支持 IE 古老的兼容模式。为了让 IE 浏览器运行最新的渲染模式下 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 将下面的 <meta> 标签加入到页面中，可以让部分国产浏览器默认采用高速模式渲染页面 -->
    <meta name="renderer" content="webkit">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="bower_components/bootstrapValidator/dist/css/bootstrapValidator.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger-theme-future.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger-theme-flat.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger-theme-block.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger-theme-air.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger-theme-ice.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <link rel="stylesheet" href="bower_components/Buttons/css/buttons.css" />
    <link rel="stylesheet" href="bower_components/jstree/dist/themes/default/style.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/airlinelogo.css">
    <link rel="stylesheet" href="styles/welcome.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/jkCustom.css">
    <link rel="stylesheet" href="styles/directive.css">
    <!-- endbuild -->
  </head>
  <body ng-app="projApp" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-if="logined">
      <div fg-app-navbar></div>

      <div class="container-fluid">
        <!-- <div fg-sider-nav class="col-sm-2 bz-nav"></div> -->
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active">
                  <a ng-href="#/">主页</a>
              </li>
              <li>
                  <a ng-href="#/orderWizards/step1">电话订票</a>
              </li>
              <li>
                  <a ng-href="#/hotelorderWizards/step1">电话订酒店</a>
              </li>
              <li>
                <a ng-href="#/my/hotels/orders">酒店订单</a>
              </li>
              <li>
                  <a ng-href="#/tickets/issues">国内出票订单</a>
              </li>
              <li>
                  <a ng-href="#/tickets/refunds">国内退票订单</a>
              </li>
              <li>
                  <a ng-href="#/tickets/changes">国内改签订单</a>
              </li>
              <!--<li>
                  <a ng-href="#/inter/tickets/issues">国际出票订单</a>
              </li>-->
              <li>
                  <a ng-href="#/inter/tickets/refunds">国际退票订单</a>
              </li>
              <li>
                  <a ng-href="#/inter/tickets/changes">国际改签订单</a>
              </li>
              <li>
                <a ng-href="#/purBalance/">采购商结算</a>
              </li>
              <!--<li>
                <a ng-href="#/supBalance/">供应商结算</a>
              </li>-->
              </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view></div>
          <div bz-msg></div>
        </div>
      </div>
    </div>

    <!-- 登录 -->
    <div ng-if="!logined" ng-switch on="selection">
      <div bz-login-page ng-switch-when="login"></div>
      <div bz-password-reset ng-switch-when="passwordReset"></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!--<script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>-->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/my97/WdatePicker.js"></script>
    <script src="bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script src="bower_components/bootstrapValidator/dist/js/bootstrapValidator.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/messenger/build/js/messenger.js"></script>
    <script src="bower_components/messenger/build/js/messenger-theme-future.js"></script>
    <script src="bower_components/messenger/build/js/messenger-theme-flat.js"></script>
    <script src="bower_components/bootstrap-confirmation/bootstrap-confirmation.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/jstree/dist/jstree.js"></script>
    <script src="bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script src="bower_components/hotel-book/index.js"></script>
    <script src="bower_components/jk-flights/dist/flightbook.templates.js"></script>
    <script src="bower_components/jk-flights/index.js"></script>
    <script src="bower_components/jk-flights/scripts/controllers/book.js"></script>
    <script src="bower_components/jk-flights/scripts/controllers/flights.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzbookpassengers.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzflightfilters.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzflightinfoxs.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzflightqueryform.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzFlightResults.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzfltreasons.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzinsuance.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/bzprice.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/fgpassengerselector.js"></script>
    <script src="bower_components/jk-flights/scripts/directives/fgsortbanner.js"></script>
    <script src="bower_components/jk-flights/scripts/filters/bzdiscount.js"></script>
    <script src="bower_components/jk-flights/scripts/filters/keyvaluefilter.js"></script>
    <script src="bower_components/jk-flights/scripts/filters/sortfilter.js"></script>
    <script src="bower_components/jk-flights/scripts/services/bzcontactsservice.js"></script>
    <script src="bower_components/jk-flights/scripts/services/bzflquery.js"></script>
    <script src="bower_components/jk-flights/scripts/services/fgbookflightshttpinterceptor.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/hotel-book/dist/hotelbook.js"></script>
    <script src="bower_components/hotel-book/dist/hotelbook.templates.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/templates.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/my97.js"></script>
        <script src="scripts/directives/fgappnavbar.js"></script>
        <script src="scripts/directives/fgpanel.js"></script>
        <script src="scripts/directives/fgformcontrol.js"></script>
        <script src="scripts/directives/bzpermissionselector.js"></script>
        <script src="scripts/directives/fgmobilenumber.js"></script>

        <script src="scripts/directives/fgselect.js"></script>

        <script src="scripts/filters.js"></script>
        <script src="scripts/directives/bzrolesselector.js"></script>
        <script src="scripts/directives/bzmenusselector.js"></script>
        <script src="scripts/directives/fgBootstrapValidator.js"></script>
        <script src="scripts/services/fghttpinterceptor.js"></script>
        <script src="scripts/services/fgmessenger.js"></script>
        <script src="scripts/directives/bzuniquecheck.js"></script>
        <script src="scripts/directives/fgBootstrapConfirm.js"></script>
        <script src="scripts/services/fgauthenticate.js"></script>
        <script src="scripts/directives/bzpersonalcenter.js"></script>
        <script src="scripts/services/fgcityservice.js"></script>
        <script src="scripts/services/fgcitydata.js"></script>
        <script src="scripts/directives/bzcity.js"></script>
        <script src="scripts/services/fgValidatorRoute.js"></script>
        <script src="scripts/directives/fgDateFormatter.js"></script>
        <script src="scripts/directives/bzcontactsselector.js"></script>
        <script src="scripts/controllers/welcome.js"></script>
        <script src="scripts/directives/bzloginpage.js"></script>
        <script src="scripts/directives/fgsimpletree.js"></script>
        <script src="scripts/services/bzdicts.js"></script>
        <script src="scripts/directives/fgDept.js"></script>
        <script src="scripts/directives/fgDeptRead.js"></script>
        <script src="scripts/directives/bznotification.js"></script>
        <script src="scripts/services/bzmessagesservice.js"></script>
        <script src="scripts/directives/bzmainpage.js"></script>
        <script src="scripts/directives/bzPasswordReset.js"></script>
        <script src="scripts/controllers/myPayPwd.js"></script>
        <script src="scripts/controllers/payPwd.js"></script>
        <script src="scripts/controllers/pwd.js"></script>
        <script src="scripts/controllers/myPwd.js"></script>
        <script src="scripts/services/bzmenus.js"></script>
        <script src="scripts/directives/fgaffix.js"></script>
        <script src="scripts/directives/fgTagsinput.js"></script>
        <script src="scripts/directives/fgSelectUsers.js"></script>
        <script src="scripts/directives/fgPopover.js"></script>
        <script src="scripts/directives/fgsidernav.js"></script>
        <script src="scripts/services/tools.js"></script>
        <script src="scripts/validatorRules.js"></script>
        <script src="scripts/controllers/orderwizardsstep1.js"></script>
        <script src="scripts/controllers/hotelorderwizardsstep1.js"></script>
        <script src="scripts/controllers/ticketsissued.js"></script>
        <script src="scripts/controllers/ticketsreturned.js"></script>
        <script src="scripts/controllers/purBalance.js"></script>
        <script src="scripts/directives/bzMsg.js"></script>
        <script src="scripts/controllers/ticketsreturnedDetail.js"></script>
        <script src="scripts/controllers/orderWrite.js"></script>
        <script src="scripts/controllers/ticketsissuedDetail.js"></script>
        <script src="scripts/services/bzRefund.js"></script>
        <script src="scripts/services/bzIssue.js"></script>
        <script src="scripts/controllers/refundWrite.js"></script>
        <script src="scripts/controllers/purBalanceModal.js"></script>
        <script src="scripts/services/bzBalanceQueryParams.js"></script>
        <script src="scripts/controllers/planeOrderModal.js"></script>
        <script src="scripts/controllers/ticketsChangesDetail.js"></script>
        <script src="scripts/controllers/changeWrite.js"></script>
        <script src="scripts/controllers/interTicketsIssues.js"></script>
        <script src="scripts/controllers/interTicketsChanges.js"></script>
        <script src="scripts/controllers/interTicketsChange.js"></script>
        <script src="scripts/controllers/interTicketsRefunds.js"></script>
        <script src="scripts/controllers/interTicketsRefund.js"></script>
        <script src="scripts/directives/bzChangeTickets.js"></script>
        <script src="scripts/directives/bzRefundTickets.js"></script>
        <script src="scripts/controllers/ticketsRefund.js"></script>
        <script src="scripts/controllers/ticketsRefunds.js"></script>
        <script src="scripts/controllers/ticketsChange.js"></script>
        <script src="scripts/controllers/ticketsChanges.js"></script>
        <script src="scripts/controllers/ticketsIssues.js"></script>
        <script src="scripts/controllers/ticketsIssue.js"></script>
        <script src="scripts/directives/bzIssueTickets.js"></script>
        <!-- endbuild -->
</body>
</html>
