<div class = "padLR15">
  <legend class="header-legend"><i class = "fa fa-plane"></i> 航班预订 -- 乘客</legend>
  <div cg-busy="waitSign" style="min-height:800px">
      <div class="col-sm-8">
        <legend>乘机人({{passengers.length}})</legend>
        <div class="row padTB10 marginLR0" >
            <div class="col-sm-12">
              <h5><i class="fa fa-users"></i> 常用联系人</h5>
              <div fg-passenger-selector ng-model = "passengers"></div>
            </div>
            <div class="col-sm-12">
              <h5><i class="fa fa-check-circle"> </i> 已选乘机人</h5>
              <div ng-repeat = "p in passengers">
                <div bz-book-passengers fg-model="p" class="marginTB5"></div>
              </div>
            
            </div>
        </div>

        <legend>联系信息</legend>
        <div class="row padTB10 marginLR0">
          <div class="col-sm-12">
            <form class="form-horizontal" role="form" name="form" novalidate>
              <div class="form-group"
                ng-class="{ 'has-error' : form.contacts.$invalid && !form.contacts.$pristine }">
                <label class="control-label col-sm-2">姓名</label>
                <div class="col-sm-8">
                  <input type="text" name = "contacts" class="form-control input-sm" placeholder＝ "中文/拼音" ng-model = "record.contacts" >
                  <p class="help-block" ng-show="form.contacts.$error.required &&  !form.contacts.$pristine">
                    联系人必填！
                  </p>
                </div>
              </div>
              <div class="form-group form-group-sm"
                ng-class="{ 'has-error' : form.contactPhone.$invalid && !form.contactPhone.$pristine }">
                <label for="id_contactPhone" class="control-label col-sm-2">手机号</label>
                <div class="col-sm-8">
                  <input type="text" fg-mobile class="form-control input-sm" id="id_contactPhone" name="contactPhone" ng-model="record.contactPhone"  required>
                  <p class="help-block" 
                    ng-show="(form.contactPhone.$error.formatError || form.contactPhone.$error.required) && !form.contactPhone.$pristine">
                    1.必填！ 2.手机号码格式错误！
                  </p>
                </div>
              </div>

              <!--电子邮箱-->
              <div class="form-group form-group-sm"
                ng-class="{ 'has-error' : form.contactEmail.$invalid && !form.contactEmail.$pristine }">
                <label for="id_email" class="control-label col-xs-3 col-sm-2">电子邮箱</label>
                <div class="col-xs-9 col-sm-8">
                  <input type="email" class="form-control input-sm" id="id_email" name="contactEmail" ng-model="record.contactEmail">
                  <p class="help-block" ng-show="form.contactEmail.$error.email && !form.contactEmail.$pristine">
                    电子邮箱格式错误！
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>

        <legend>附加信息</legend>
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <textarea class="form-control" rows＝"3" ng-model = "record.remark"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <div alert class= "marginTB10"  type="danger" ng-show = "bookErrorInfo"  style = "font-size:18px">
             <p>
              <i class = "fa fa-times-circle"></i> {{bookErrorInfo}}
             </p>
             <p>
               <button class="btn btn-success" ng-click="reQuery();">重新选择航班</button>
             </p>
            </div>
            <div alert class= "marginTB10"  type="warning" ng-show = "checkErrorInfo"  style = "font-size:18px">
             <i class = "fa fa-exclamation-triangle"></i> {{checkErrorInfo}}
             <br/>
            </div>
          </div>
        </div>

        <div class="row marginTB15">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <button class="btn btn-warning btn-block"ng-click="book();">确认下单</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <legend class="legend-primary">已选航班</legend>
          <div alert class = "marginTB10"  type="danger"  ng-show ="flights.length === 0">
             <i class = "fa fa-exclamation-triangle"></i> 未选择航班信息!
          </div>

          <div class="row marginLR0" ng-repeat = "f in flights">
            <div class="col-sm-12 marginTB5" bz-flight-info-xs flight="f"></div>
          </div>
          <div class ="row marginLR0" bz-price flights = "flights" passengers="passengers"></div>

      </div>
  </div>
</div>
