<div class="modal-header">
  <h4 class="modal-title">改签回填
    <span class="pull-right">改签编号:{{passenger.change.changeId}}------{{passenger.idcName}}</span>
  </h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="jk-font-color-7">
      <div class="form-group form-group-sm">
        <label for="pnr" class="control-label col-xs-4 col-sm-3">新PNR</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="pnr" name="pnr" ng-model="passenger.change.pnr">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="ticketNo" class="control-label col-xs-4 col-sm-3">新机票票号</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="ticketNo" name="ticketNo" ng-model="passenger.change.planeTicketNo">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="supPriceDifference" class="control-label col-xs-4 col-sm-3">供应商改签差价</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="supPriceDifference" name="supPriceDifference" ng-model="passenger.change.supPriceDifference">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="supHandlingFee" class="control-label col-xs-4 col-sm-3">供应商改签手续费</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="supHandlingFee" name="supHandlingFee" ng-model="passenger.change.supHandlingFee">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="priceDifference" class="control-label col-xs-4 col-sm-3">采购商改签差价</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="priceDifference" name="priceDifference" ng-model="passenger.change.priceDifference">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="handlingFee" class="control-label col-xs-4 col-sm-3">采购商改签手续费</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="handlingFee" name="handlingFee" ng-model="passenger.change.handlingFee">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label for="way" class="control-label col-xs-4 col-sm-3">结算方式</label>
        <div class="col-xs-8 col-sm-9">
          <select name="way" id="way" class="form-control" ng-model="passenger.change.way"
            ng-options="d.code as d.name for d in payTypes"></select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label for="remark" class="control-label col-xs-4 col-sm-3">备注</label>
        <div class="col-xs-8 col-sm-9">
          <textarea id="remark" name="remark" class="form-control" ng-model="passenger.change.remark"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="save()">确定</button>
  <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
</div>
