<legend class="header-legend">
  <i class="fa fa-list"></i> 国际机票退票详情
</legend>

<h4 class="titleC">
  <i class = "fa fa-ticket"></i>
  <span>退票机票</span>
</h4>
<div class="row">
  <div class="col-sm-6">
    <div class="alert alert-warning" ng-if="curState===REFUNDING||curState===UNREFUND">
      <p><small><i class="fa fa-exclamation-triangle"></i> 退票编号相同的机票为同一次提交的退票申请，必须同时操作</small></p>
      <p><small><i class="fa fa-exclamation-triangle"></i> 完成退票时，同一次提交的退票申请，新pnr和备注是自动同步的</small></p>
    </div>
  </div>
</div>
<tabset class="row-space" type="pills">
  <tab select="switch(UNREFUND)" active="$parent.refunds.UNREFUND.state">
    <tab-heading>
      已申请 <span class="badge">{{refunds.UNREFUND.refundTickets}}</span>
    </tab-heading>
    <div bz-refund-tickets inter="true" checkbox="curState===UNREFUND" ng-model="$parent.refunds.UNREFUND" selected-refunds="$parent.$parent.selectedUnrefunds"></div>
  </tab>
  <tab select="switch(REFUNDING)" active="$parent.refunds.REFUNDING.state">
    <tab-heading>
      退票中 <span class="badge">{{refunds.REFUNDING.refundTickets}}</span>
    </tab-heading>
    <div bz-refund-tickets inter="true" checkbox="curState===REFUNDING" ng-model="$parent.refunds.REFUNDING" selected-refunds="$parent.$parent.selectedRefundings"></div>
  </tab>
  <tab select="switch(REFUNDED)" active="$parent.refunds.REFUNDED.state">
    <tab-heading>
      已退票 <span class="badge">{{refunds.REFUNDED.refundTickets}}</span>
    </tab-heading>
    <div bz-refund-tickets inter="true" checkbox="false" ng-model="$parent.refunds.REFUNDED" selected-refunds="selectedRefunds"></div>
  </tab>
  <tab select="switch(REFUND_FAIL)" active="$parent.refunds.REFUND_FAIL.state">
    <tab-heading>
      退票失败 <span class="badge">{{refunds.REFUND_FAIL.refundTickets}}</span>
    </tab-heading>
    <div bz-refund-tickets inter="true" checkbox="false" ng-model="$parent.refunds.REFUND_FAIL"></div>
  </tab>
</tabset>
<div class="row">
  <div class="col-sm-10">
    <button class="btn button-flat-primary btn-sm" name="submit" ng-click="beginRefund();" style="width:100px" ng-show="curState===UNREFUND">
      <i class = "fa fa-check-circle"></i>
      开始退票
    </button>
    <button class="btn button-flat-primary btn-sm" name="submit" ng-click="endRefund();" style="width:100px" ng-show="curState===REFUNDING">
      <i class = "fa fa-check-circle"></i>
      完成退票
    </button>
    <button class="btn btn-warning btn-sm" name="submit" ng-click="failRefund();" style="width:100px" ng-show="curState===REFUNDING">
      <i class = "fa fa fa-exclamation-circle"></i>
      退票失败
    </button>
    <a class="btn btn-default btn-sm" href="#/inter/tickets/refunds">
      <i class="fa fa-reply"></i> 返回
    </a>
  </div>
</div>

<!-- 订单 -->
<div class="col-sm-12 marginTB15">
  <h4 class="titleC"><i class = "fa fa-bookmark"></i> 订单信息</h4>
  <div class = "col-sm-12" style = "color:#555">
    <div class="col-sm-6 padLR0" style = "font-size:12px">
      <p>订单状态 : {{record.state}}</p>
      <p>订单编号 : {{record.planeOrderNo}}</p>
      <p>预订时间 : {{record.createTime | date : 'yyyy-MM-dd hh:mm:ss'}}</p>
      <p><a class="pointer" ng-click = "contacts = !contacts">联系信息 : <i class = "fa fa-angle-double-down"></i></a></p>
      <div ng-show = "contacts">
        <p>联系人: {{record.contacts}}</p>
        <p>联系邮件: {{record.contactEmail}}</p>
        <p>联系电话: {{record.contactPhone}}</p>
      </div>
      <p><a class="pointer" ng-click = "amount = !amount">金额明细 : <i class = "fa fa-angle-double-down"></i></a></p>
      <div ng-show="amount" bz-price flights = "record.flights" passengers ="record.passengers"></div>
    </div>
    <div class="col-sm-6">
      <div><span>总金额:¥ <i class = "price price-font-28">{{record.price}}</i></span></div>
    </div>
  </div>
</div>

<!-- 航班 -->
<div class="col-sm-12 marginTB15">
  <h4 class="titleC"><i class = "fa fa-plane"></i>  航班信息</h4>
  <div class="col-sm-12" cg-busy="waiting">
    <div ng-repeat="od in record.ods">
      <div class="flight-info">
        <div class = "row info-head marginLR0">
          <!-- <span class="badge jk-badge-primary">第{{$index+1}}程</span>  -->
          <strong style="margin-right:20px;margin-left:5px"> {{od.takeOffTime | date:'yyyy-MM-dd'}}</strong>

          <strong> {{od.departCityName}}</strong>
          ~
          <strong> {{od.arriveCityName}}</strong>
        </div>
        <div class="row info-body marginLR0">
          <div class="col-sm-2">
            <div  class="airline">
              <strong>
                <span ng-class = "od.airlineClass">{{od.airlineName}}</span>
              </strong>
            </div>
            <div class = "flight-no" style="padding-left:20px">
              <span>{{od.flightNo}}</span>
            </div>
            <div  class="seat-type" style="padding-left:20px">
              <span>{{od.cabinClassName || '经济舱'}}-{{od.cabin}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-5 text-right">
              <h4 class="time">{{od.takeOffTime | date:'HH:mm'}}</h4>
              <p>{{od.departAirportName}}{{od.departAirportTower}}</p>
            </div>
            <div class="col-sm-2 pass-by" style="text-align:center">
              </span>
            </div>
            <div class="col-sm-5 text-left">
              <h4 class="time">{{od.arriveTime  | date:'HH:mm'}} </h4>
              <p>{{od.arriveAirportName}}{{od.arriveAirportTower}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <span>票价</span>
            <strong class="">¥ {{od.price}} </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .form-group {
    margin-bottom: 5px;
  }
  .titleC {
    color:#84a099
  }
  .nav.nav-pills > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .nav-pills>.active>a>tab-heading>.badge {
    color: #337ab7;
    background-color: #fff;
  }
  .tab-content{
    margin-top: 15px;
  }
</style>
