<legend class="header-legend">
  <i class="fa fa-list"></i> 国际机票改签
</legend>

<div class="row row-space pull-right">
  <div class="col-sm-12">
    <span ng-show="queryParams.state === UNCHANGE">申请时间</span>
    <span ng-show="queryParams.state === CHANGING">开始改签时间</span>
    <span ng-show="queryParams.state === CHANGED">完成改签时间</span>
    <span ng-show="queryParams.state === CHANGE_FAIL">改签失败时间</span>
    <input date-picker type="text" class="input-sm" style="width: 110px"
           ng-model="queryParams.startTime" single-calendar="true">
    -
    <input date-picker type="text" class="input-sm" style="width: 110px"
           ng-model="queryParams.endTime" single-calendar="true">
    <button class="btn btn-sm button-flat-primary" type="button" ng-click="query();" style="border:solid 1px transparent;width:100px">
      <i class = "fa fa-search"></i>
      查询
    </button>
  </div>
</div>
<tabset class="row-space" type="pills">
  <tab select="switch(UNCHANGE)" active="changes.UNCHANGE.state">
    <tab-heading>
      已申请 <span class="badge">{{counts.APPLY}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(CHANGING)" active="changes.CHANGING.state">
    <tab-heading>
      改签中 <span class="badge">{{counts.CHANGEING}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(CHANGED)" active="changes.CHANGED.state">
    <tab-heading>
      已改签 <span class="badge">{{counts.SUCCESS}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(CHANGE_FAIL)" active="changes.CHANGE_FAIL.state">
    <tab-heading>
      改签失败 <span class="badge">{{counts.FAIL}}</span>
    </tab-heading>
  </tab>
</tabset>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>改签编号</th>
    <th>申请时间</th>
    <th>申请行程</th>
    <!--<th>乘客</th>-->
    <th>采购商</th>
    <th>改签状态</th>
    <!--<th ng-show="queryParams.state !== UNISSUE">业务员</th>-->
    <th ng-show="queryParams.state === CHANGING">开始改签时间</th>
    <th ng-show="queryParams.state === CHANGED">完成改签时间</th>
    <th ng-show="queryParams.state === CHANGE_FAIL">改签失败时间</th>
    <th ng-show="queryParams.state !== UNCHANGE">业务员</th>
  </tr>
  </thead>
  <tbody class="jk-font-13">
  <tr ng-repeat="record in records" ng-class="{success: record.isCurrentUsed}">
    <td>{{(queryParams.no - 1) * queryParams.limit + $index + 1}}</td>
    <td><a ng-href="#/inter/tickets/changes/{{record.changeId}}">{{record.changeNo}}</a></td>
    <td>{{record.applyTime | date:'yyyy-MM-dd HH:mm'}}</td>
    <td>
      <div ng-repeat="od in record.changeOds" style="display: inline-block">
        <div ng-repeat="s in od.segments">
          {{s.takeOffTime | date: 'MM-dd HH:mm'}}
          {{s.departAirportName}} <i class="fa fa-long-arrow-right"></i> {{s.arriveAirportName}}
          <!--<small>(<span ng-if="od.segments.length > 1">往返</span><span ng-if="od.segments.length === 1">单程</span>)</small>&nbsp;&nbsp;&nbsp;&nbsp;<br/>-->
        </div>
      </div>
    </td>
    <!--<td>
      <span ng-repeat="p in record.passengers"><span ng-if="$index < 2">{{p.idcName || p.firstName + ' ' + p.lastName}}</span><span ng-if="$first && record.passengers.length>1">,</span></span>
      <span ng-if="record.passengers.length > 2">等{{record.passengers.length}}人</span>
    </td>-->
    <!--<td class="price">{{record.salePrice | currency: '￥ '}}</td>-->
    <td>{{record.purName}}</td>
    <td>{{record.state | dictFilter: ticketChangeStates}}</td>
    <td ng-show="queryParams.state === CHANGING">{{record.handlingTime | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td ng-show="queryParams.state === CHANGED || queryParams.state === CHANGE_FAIL">{{record.completeTime | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td ng-show="queryParams.state === CHANGING">{{record.handlingEmployee.name}}</td>
    <td ng-show="queryParams.state === CHANGED || queryParams.state === CHANGE_FAIL">{{record.completeEmployee.name}}</td>
  </tr>
  </tbody>
</table>

<pagination
  ng-if="totalItems>10"
  first-text="首页"
  previous-text="前一页"
  next-text="下一页"
  last-text="末页"
  class="pagination-sm"
  max-size="5"
  items-per-page="queryParams.limit"
  total-items="totalItems"
  ng-model="queryParams.no"
  ng-change="query()">
</pagination>
<style>
  table > tbody > tr > td {
    vertical-align: middle !important;
  }
  .nav.nav-pills > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .nav-pills>.active>a>tab-heading>.badge {
    color: #337ab7;
    background-color: #fff;
  }
</style>

