<legend class="header-legend">
  <i class="fa fa-list"></i> 国际出票订单
</legend>

<div class="row row-space">
  <div class="col-sm-4">
    <span ng-show="queryParams.state === UNISSUE">下单时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span ng-show="queryParams.state === ISSUEING">开始出票时间</span>
    <span ng-show="queryParams.state === ISSUED">完成出票时间</span>
    <span ng-show="queryParams.state === ISSUE_FAIL">出票失败时间</span>
    <input date-picker type="text" class="input-sm" style="width: 110px"
           ng-model="queryParams.createTimeBegin" single-calendar="true">
    -
    <input date-picker type="text" class="input-sm" style="width: 110px"
           ng-model="queryParams.createTimeEnd" single-calendar="true">
  </div>
  <div class="col-sm-8">
    <div class="input-group">
      <input type="text" class="form-control input-sm" placeholder="输入关键字查询" ng-model="query.keywords" ng-change="fetch();">
    <span class="input-group-btn">
      <button class="btn btn-sm button-flat-primary" type="button" ng-click="query();" style="border:solid 1px transparent;width:100px">
        <i class = "fa fa-search"></i>
        查询
      </button>
    </span>
    </div>
  </div>
</div>
<tabset class="row-space">
  <tab select="switch(UNISSUE)">
    <tab-heading>
      待出票 <span class="badge">{{unissueCounts}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(ISSUEING)">
    <tab-heading>
      出票中 <span class="badge">{{issueingCounts}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(ISSUED)">
    <tab-heading>
      已出票
    </tab-heading>
  </tab>
  <tab select="switch(ISSUE_FAIL)">
    <tab-heading>
      出票失败
    </tab-heading>
  </tab>
</tabset>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>订单编号</th>
    <th>预订日期</th>
    <th>行程</th>
    <th>乘机人</th>
    <th>订单金额</th>
    <th>采购商</th>
    <th>订单状态</th>
    <th ng-show="queryParams.state !== UNISSUE">业务员</th>
    <th ng-show="queryParams.state === ISSUEING">开始出票时间</th>
    <th ng-show="queryParams.state === ISSUED">完成出票时间</th>
    <th ng-show="queryParams.state === ISSUE_FAIL">出票失败时间</th>
  </tr>
  </thead>
  <tbody class="jk-font-13">
  <tr ng-repeat="record in records" ng-class="{success: record.isCurrentUsed}">
    <td>{{(queryParams.no - 1) * queryParams.limit + $index + 1}}</td>
    <td><a ng-href="#/inter/tickets/issues/{{record.planeOrderId}}">{{record.planeOrderNo}}</a></td>
    <td>{{record.createTime | date:'yyyy-MM-dd'}}</td>
    <td>
      <div ng-repeat="od in record.ods" style="display: inline-block">
        {{od.departAirportCode}} <i class="fa fa-long-arrow-right"></i> {{od.arriveAirportCode}}<small>(<span ng-if="record.ods.length > 1">往返</span><span ng-if="record.ods.length === 1"></span>)</small>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
        {{od.departTime | date: 'MM-dd HH:mm'}}
      </div>
    </td>
    <td>
      <span ng-repeat="p in record.passengers"><span ng-if="$index < 2">{{p.idcName || p.firstName + ' ' + p.lastName}}</span><span ng-if="$first && record.passengers.length>1">,</span></span>
      <span ng-if="record.passengers.length > 2">等{{record.passengers.length}}人</span>
    </td>
    <td class="price">{{record.salePrice | currency: '￥ '}}</td>
    <td>{{record.purName}}</td>
    <td>{{record.state | dictFilter: ticketStates}}</td>
    <!--<td ng-show="queryParams.state !== '2'">{{record.ticketingEmployee.name}}</td>
    <td ng-show="queryParams.state === '3'">{{record.modifyTime | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td ng-show="queryParams.state === '4' || queryParams.state === '5'">{{record.ticketingTime | date: 'yyyy-MM-dd HH:mm'}}</td>-->
  </tr>
  </tbody>
</table>

<pagination
  ng-if="totalItems>10"
  first-text="首页"
  previous-text="前一页"
  next-text="下一页"
  last-text="末页"
  class="pagination-sm"
  max-size="5"
  items-per-page="queryParams.limit"
  total-items="totalItems"
  ng-model="queryParams.no"
  ng-change="query()">
</pagination>
<style>
  table > tbody > tr > td {
    vertical-align: middle !important;
  }
</style>

