
<div class = "padLR15">
  <legend class="header-legend">
    <i class="fa fa-bell"></i>
    我的消息列表
  </legend>
  <form class="form-horizontal" name="form" novalidate fg-bootstrap-validator="fields">
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-lg-1">
        <!-- <div class="form-group">
          <a class="btn btn-default" ng-href="#/roles/new">新增</a>
        </div> -->
      </div>
      <div class="col-xs-9 col-sm-10 col-lg-11">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="输入关键字查询" ng-model="query.keywords" ng-change="fetch();">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="fetch();">
              <span class="glyphicon glyphicon-search"></span>查询
            </button>
          </span>
        </div>
      </div>
    </div>

    <table class="table table-hover jk-font-13 jk-font-color-7">
      <thead>
      <tr>
        <th>#</th>
        <th>标题</th>
        <th>内容</th>
        <th><span class="pull-right">时间</span></th>
        <th><span class="pull-right">状态</span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="record in records">
        <td>{{(query.no - 1) * query.limit + $index + 1}}</td>
        <td><a ng-href="#/my/messages/{{record.msgId}}">{{record.title}}</a></td>
        <td>{{record.detail}}</td>
        <td>
          <span class="pull-right">{{record.createTime | fgTimeCost}}</span>
        </td>
        <td>
          <span class="pull-right label label-success" ng-if="record.state.code === '1'">已读</span>
          <span class="pull-right label label-danger" ng-if="record.state.code !== '1'">未读</span>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row" ng-if="totalItems>10">
      <div class="col-lg-12">
        <pagination
          class="pagination-sm"
          max-size="5"
          items-per-page="query.limit"
          total-items="totalItems"
          ng-model="query.no"
          ng-change="fetch()">
        </pagination>
      </div>
    </div>
  </form>
</div>
