<div class = "padLR15">
  <legend class="header-legend">
    <i class = "fa fa-credit-card"></i>
    交易密码－「修改」
  </legend>

  <form class="form-horizontal col-sm-9 col-sm-offset-1" name="confirmForm" fg-bootstrap-validator="confirmFields" ng-if="!forget">

    <legend>确认交易密码</legend>
    <div class="jk-font-color-7">

      <div class="form-group form-group-sm">
        <label for="confirmPassword" class="control-label col-xs-3 col-sm-2">交易密码</label>
        <div class="col-xs-9 col-sm-10">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="record1.payPassword">
        </div>
      </div>
      <!--忘记密码-->
      <div class="form-group form-group-sm">
        <div class="col-xs-9 col-sm-10 col-xs-offset-3 col-sm-offset-2">
          <a href="" ng-click="send();">忘记交易密码？(我们将发送一封带有临时交易密码的邮件到您当前注册的邮箱，请使用交易密码确认使之生效)</a>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <div class="col-xs-offset-3 col-sm-offset-2 col-xs-9 col-sm-10">
          <button class="btn button-flat-primary btn-sm" ng-click="confirmMyPayPwd();" style = "width:120px">
            <i class = "fa fa-refresh"> 确认</i>
          </button>
          <button class="btn button-flat-default btn-sm" ng-click="resetConfrim();">重置</button>
        </div>
      </div>
    </div>

  </form>

  <form class="form-horizontal col-sm-9 col-sm-offset-1" name="form" novalidate fg-bootstrap-validator="fields" ng-if="!forget">

    <legend>修改交易密码</legend>

    <div class="jk-font-color-7">
      <!--原始密码-->
      <div class="form-group form-group-sm">
        <label for="payPassword" class="control-label col-xs-3 col-sm-2">原始密码</label>
        <div class="col-xs-9 col-sm-10">
          <input type="password" class="form-control" id="payPassword" name="payPassword" ng-model="record2.payPassword">
        </div>
      </div>

      <!--新密码-->
      <div class="form-group form-group-sm">
        <label for="newPayPassword" class="control-label col-xs-3 col-sm-2">新密码</label>
        <div class="col-xs-9 col-sm-10">
          <input type="password" class="form-control" id="newPayPassword" name="newPayPassword" ng-model="record2.newPayPassword">
        </div>
      </div>

      <!--确认新密码-->
      <div class="form-group form-group-sm">
        <label for="confirmPwd" class="control-label col-xs-3 col-sm-2">确认密码</label>
        <div class="col-xs-9 col-sm-10">
          <input type="password" class="form-control" id="confirmPwd" name="confirmPwd">
        </div>
      </div>


      <div class="form-group form-group-sm">
        <div class="col-xs-offset-3 col-sm-offset-2 col-xs-9 col-sm-10">
          <button class="btn button-flat-primary btn-sm" ng-click="save();" style = "width:120px">
            <i class = "fa fa-refresh"> 更新</i>
          </button>
          <button class="btn button-flat-default btn-sm" ng-click="reset();">重置</button>
        </div>
      </div>
    </div>
  </form>

  <div class="row" ng-if="forget">
    <div class="col-sm-8 col-sm-offset-2">
      <legend>忘记交易密码</legend>
      <p>我们已经向您发送一封电子邮件包含一个链接，会让你在接下来的24小时重置您的交易密码。
        如果邮件没有出现在几分钟的时间，请检查您的垃圾邮件文件夹。
      </p>
      <p><a class="btn btn-primary" href="" ng-click="returnPayPwd()">返回重置交易密码页面></a></p>
    </div>
  </div>

</div>
