<div class="modal-header">
  <h4 class="modal-title">出票订单回填</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="jk-font-color-7">
      <div class="form-group form-group-sm">
        <label for="supId" class="control-label col-xs-4 col-sm-3">供应商平台</label>
        <div class="col-xs-8 col-sm-9">
          <select name="supId" id="supId" ng-model="supId" class="form-control"
            ng-options="sup.supplierId as sup.supplierName for sup in sups"></select>
        </div>
      </div>
      <!--<p>
        <span class = "title">供应商平台订单号 : </span>
        &lt;!&ndash;<span class = "import">{{record.detailSupPlaneOrder.supOrderNo}}</span>&ndash;&gt;
        <span class = "import">{{record.deliveryAddress}}</span>
      </p>
      <p>
        <span class = "title">结算价 : </span>
        &lt;!&ndash;<span class = "import">{{record.detailSupPlaneOrder.supPayPrice}}</span>&ndash;&gt;
        <span class = "import">{{passenger.floorPrice}}</span>
      </p>-->
      <!--<p>
        <span class = "title">结算方式 : </span>
        <span class = "import">{{record.detailSupPlaneOrder.supPayType | dictFilter: payTypes}}</span>
      </p>-->
      <div class="form-group form-group-sm">
        <label for="supOrderNo" class="control-label col-xs-4 col-sm-3">供应商平台订单号</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="supOrderNo" name="deliveryAddress" ng-model="supOrderNo">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="supPayPrice" class="control-label col-xs-4 col-sm-3">结算价<span class="text-danger">(单价)</span></label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="supPayPrice" name="supPayPrice" ng-model="supPayPrice">
        </div>
      </div>
      <!--<div class="form-group form-group-sm">
        <label for="supPayType" class="control-label col-xs-4 col-sm-3">结算方式</label>
        <div class="col-xs-8 col-sm-9">
          <select name="supPayType" id="supPayType" class="form-control" ng-model="supPayType"
            ng-options="d.code as d.name for d in payTypes"></select>
        </div>
      </div>-->
      <div class="form-group form-group-sm" ng-repeat="p in planeOrder.passengers">
        <label for="planeTicketNo" class="control-label col-xs-4 col-sm-3">机票编号-{{p.idcName}}</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="planeTicketNo" name="planeTicketNo" ng-model="p.planeTicketNo">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="save()">确定</button>
  <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
</div>
