<div ng-show="step===1">
  <legend>
    确认身份
  </legend>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <form name="form1" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : form1.mobile.$invalid && !form1.mobile.$pristine }">
          <label>用户手机号</label>
          <input type="text" fg-mobile name="mobile" class="form-control" placeholder="用户手机号？" ng-model="mobile" required>
          {{form.mobile.$error}}
          <p class="help-block" ng-show="form1.mobile.$error.formatError && !form1.mobile.$pristine">
            手机号码格式错误！
          </p>
          <p class="help-block" ng-show="form1.mobile.$error.required && !form1.mobile.$pristine">
            手机号码必填！
          </p>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" ng-if="noUser">
            <p><strong>警告：</strong>该用户（手机号: {{mobile}}）不存在！</p>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" 
            ng-disabled="form1.$invalid || form1.$pristine"
            ng-click="checkUserByMobile();">确认用户</button>
        </div>
      </form>
    </div>
  </div>

  <hr>
</div>

<div ng-if="step===2">
  <legend>
    确认身份 > 核实身份
  </legend>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="alert alert-success">
        <p>
          <strong>来电号码: </strong>{{apply.user.mobilephone}}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="alert alert-warning">
        <p>
          <strong>姓名：</strong> {{apply.user.nameCn}}
        </p>
        <p>
          <strong>身份证号：</strong> {{apply.user.idCardList[0].idcNo}}
        </p>
        <p>
          <strong>电子邮箱：</strong> {{apply.user.email}}
        </p>
        <p>
          <strong>手机号：</strong> {{apply.user.mobilephone}}
        </p>
        <p>
          <strong>公司：</strong> {{apply.company.companyName}}
        </p>
        <hr>
        <p>
          <button class="btn btn-sm btn-primary" ng-click="confirmUser();">
            确认，开始确认行程
          </button>
          <button class="btn btn-sm btn-default" ng-click="gotoStep1();">
            退出
          </button>
        </p>
      </div>
    </div>
  </div>

  <hr>
</div>

<div ng-if="step===3">
  <legend>
    确认身份 > 核实身份 > 确认行程
  </legend>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="alert alert-success">
        <p>
          <strong>来电用户: </strong>
          {{apply.user.nameCn}} - {{apply.company.companyName}} - {{apply.user.email}} - {{apply.user.mobilephone}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <form class="form-horizontal" name="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">航程类型</label>
          <div class="col-sm-5">
            <label class="radio-inline">
              <input type="radio" name="type" ng-model="query.type" value="OW"> 单程
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" ng-model="query.type" value="RT"> 往返
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" ng-model="query.type" value="MC"> 联程
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">出发</label>
          <div class="col-sm-5">
           <input bz-city type="text" class="form-control" placeholder="出发城市" ng-model="query.dep">
          </div>
          <div class="col-sm-5">
           <input date-picker type="text" class="form-control" placeholder="出发时间" ng-model="query.depDate">
          </div>
        </div>
        <div class="form-group" ng-if="query.type === 'MC' ">
          <label class="col-sm-2 control-label">中转</label>
          <div class="col-sm-5">
           <input bz-city type="text" class="form-control" placeholder="中转城市" ng-model="query.trans">
          </div>
          <div class="col-sm-5">
           <input date-picker type="text" class="form-control" placeholder="中转时间" ng-model="query.transDate">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">到达</label>
          <div class="col-sm-5">
           <input bz-city type="text" class="form-control" placeholder="到达城市" ng-model="query.arr">
          </div>
          <div class="col-sm-5" ng-if="query.type === 'RT' ">
           <input date-picker type="text" class="form-control" placeholder="返回时间" ng-model="query.backDate">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-5">
            <button class="btn btn-sm btn-primary" ng-click="execute();">
              <i class="fa fa-plane"></i> 查询航班
            </button>
            <button class="btn btn-sm btn-default" ng-click="gotoStep1();">
              退出
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>
</div>
