<div class="modal-header">
  <h4 class="modal-title">出票订单修改</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="jk-font-color-7">
      <div class="form-group form-group-sm">
        <label class="control-label col-xs-4 col-sm-3">机票价</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" name="onePrice" ng-model="record.salePrice">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="control-label col-xs-4 col-sm-3">机建费</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" name="oneAirport" ng-model="record.airportCstFee">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="control-label col-xs-4 col-sm-3">燃油税</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" name="oneFuel" ng-model="record.fuelFee">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="control-label col-xs-4 col-sm-3">保险费</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" name="totalInsurance" ng-model="record.totalInsurance">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="save()">确定</button>
  <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
</div>
