<div class="modal-header">
  <h4 class="modal-title">客户结算操作</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <legend>账务结算</legend>
    <div class="jk-font-color-7">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">预收款余额</label>
            <div class="col-sm-6">
              <p class="form-control-static">{{item.prepayment | customCurrency:"￥ "}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">应收账款</label>
            <div class="col-sm-6">
              <p class="form-control-static">{{item.collectMoney | customCurrency:"￥ "}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">应付账款</label>
            <div class="col-sm-6">
              <p class="form-control-static">{{item.payMoney | customCurrency:"￥ "}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">应收金额</label>
            <div class="col-sm-6">
              <p class="form-control-static">{{item.collectMoney - item.payMoney | customCurrency:"￥ "}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form class="form-horizontal">
    <legend>结算信息</legend>
    <div class="jk-font-color-7">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">结算方式</label>
            <div class="col-sm-6">
              <select name="payType" id="payType" class="form-control" ng-model="record.payType"
                      ng-options="d.code as d.name for d in payTypes"></select>
            </div>
          </div>
        </div>
        <!--<div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">凭证编号</label>
            <div class="col-sm-6">
              <input type="text" class="form-control"/>
            </div>
          </div>
        </div>-->
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">结算折扣</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="record.settleDiscount" ng-blur="settleDiscountBlur()"/>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">实收金额</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="record.actualMoney"/>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6">结算时间</label>
            <div class="col-sm-6">
              <input date-picker type="text" class="input-sm form-control"
                     ng-model="record.settleTime" single-calendar="true">
            </div>
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-3">备注</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="record.remark"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="save()">确认</button>
  <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
</div>
