<div class="row">
  <div class="col-sm-12">
    <legend class="header-legend">
      <i class="fa fa-list"></i> 采购商结算
    </legend>
  </div>
</div>
<form class="form-horizontal">
  <div class="col-sm-3">
    <div class="form-group">
      <label>采购商</label>
      <select ng-model="purchaser" ng-options="p.purchaserName for p in purchasers" class="input-sm">
        <option value="">请选择采购商</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label>财务明细时间</label>
      <input type="text" ng-model="startTime"
             date-picker single-calendar="true" style="width: 100px"/>
      -
      <input type="text" ng-model="endTime"
             date-picker single-calendar="true" style="width: 100px"/>
    </div>
  </div>
  <div class="col-sm-5" style="padding-right: 0">
    <div class="input-group">
      <input type="text" class="form-control input-sm" placeholder="输入关键字查询" ng-model="query.keywords" ng-change="query();">
      <span class="input-group-btn">
        <button class="btn btn-sm button-flat-primary" type="button" ng-click="query();" style="border:solid 1px transparent;width:100px">
          <i class = "fa fa-search"></i>
          查询
        </button>
      </span>
    </div>
  </div>
</form>
<div ng-include="'templates/purBalance.html'"></div>
