<div class = "padLR15">
  <legend class="header-legend">
    <i class = "fa fa-lock"></i>
    登录密码－「修改」
  </legend>
  <form class="form-horizontal col-sm-9 col-sm-offset-1" name="form" novalidate fg-bootstrap-validator="fields">
    <!--新密码-->
    <div class="form-group form-group-sm">
      <label for="password" class="control-label col-xs-3 col-sm-2">新密码</label>
      <div class="col-xs-9 col-sm-10">
        <input type="password" class="form-control" id="password" name="password" ng-model="record.password">
      </div>
    </div>

    <!--确认新密码-->
    <div class="form-group form-group-sm">
      <label for="confirmPwd" class="control-label col-xs-3 col-sm-2">确认密码</label>
      <div class="col-xs-9 col-sm-10">
        <input type="password" class="form-control" id="confirmPwd" name="confirmPwd">
      </div>
    </div>

    <div class="form-group form-group-sm">
      <div class="col-xs-9 col-sm-10 col-xs-offset-3 col-sm-offset-2">
        <button class="btn button-flat-primary btn-sm" name="submit" ng-click="save();" style = "width:100px">
          <i class="fa fa-refresh"></i>
          更新
        </button>
        <button class="btn btn-flat-default btn-sm" ng-click="reset();">重置</button>
      </div>
    </div>
  </form>
</div>
