<div class="modal-header">
  <h4 class="modal-title">退票回填
    <span class="pull-right">退票编号:{{passenger.refund.refundId}}------{{passenger.idcName}}</span>
  </h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="jk-font-color-7">
      <div class="form-group form-group-sm">
        <label for="supRefundMoney" class="control-label col-xs-4 col-sm-3">供应商退款金额</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="supRefundMoney" name="supOrderNo" ng-model="passenger.refund.supRefundMoney">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="supHandlingFee" class="control-label col-xs-4 col-sm-3">供应商退票手续费</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="supHandlingFee" name="SUP_HANDLING_FEE" ng-model="passenger.refund.supHandlingFee">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="purRefundMoney" class="control-label col-xs-4 col-sm-3">采购商退款金额</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="purRefundMoney" name="supOrderNo" ng-model="passenger.refund.refundMoney">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="purHandlingFee" class="control-label col-xs-4 col-sm-3">采购商退票手续费</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="purHandlingFee" name="purHandlingFee" ng-model="passenger.refund.handlingFee">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="bakSheesh" class="control-label col-xs-4 col-sm-3">采购商退票服务费</label>
        <div class="col-xs-8 col-sm-9">
          <input type="text" class="form-control" id="bakSheesh" name="bakSheesh" ng-model="passenger.refund.bakSheesh">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label for="way" class="control-label col-xs-4 col-sm-3">采购商结算方式</label>
        <div class="col-xs-8 col-sm-9">
          <select name="way" id="way" class="form-control" ng-model="passenger.refund.way"
                  ng-options="d.code as d.name for d in payTypes"></select>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="remark" class="control-label col-xs-4 col-sm-3">备注</label>
        <div class="col-xs-8 col-sm-9">
          <textarea id="remark" name="remark" class="form-control" ng-model="passenger.refund.remark"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="save()">确定</button>
  <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
</div>
