<legend class="header-legend">
  <i class="fa fa-list"></i> 国内退票订单
</legend>

<div class="row row-space pull-right">
  <div class="col-sm-12">
    <span ng-show="queryParams.state === UNREFUND">申请时间</span>
    <span ng-show="queryParams.state === REFUNDING">开始退票时间</span>
    <span ng-show="queryParams.state === REFUNDED">完成退票时间</span>
    <span ng-show="queryParams.state === REFUND_FAIL">退票失败时间</span>
    <input date-picker type="text" class="input-sm" style="width: 110px"
           ng-model="queryParams.startTime" single-calendar="true">
    -
    <input date-picker type="text" class="input-sm" style="width: 110px"
           ng-model="queryParams.endTime" single-calendar="true">
    <button class="btn btn-sm button-flat-primary" type="button" ng-click="query();" style="border:solid 1px transparent;width:100px">
      <i class = "fa fa-search"></i>
      查询
    </button>
  </div>
</div>
<tabset class="row-space" type="pills">
  <tab select="switch(UNREFUND)" active="refunds.UNREFUND.state">
    <tab-heading>
      已申请 <span class="badge">{{counts.APPLY}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(REFUNDING)" active="refunds.REFUNDING.state">
    <tab-heading>
      退票中 <span class="badge">{{counts.REFUNDING}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(REFUNDED)" active="refunds.REFUNDED.state">
    <tab-heading>
      已退票 <span class="badge">{{counts.SUCCESS}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(REFUND_FAIL)" active="refunds.REFUND_FAIL.state">
    <tab-heading>
      退票失败 <span class="badge">{{counts.FAIL}}</span>
    </tab-heading>
  </tab>
</tabset>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>退票编号</th>
    <th>申请时间</th>
    <!--<th>行程</th>-->
    <!--<th>乘客</th>-->
    <th>采购商</th>
    <th>改签状态</th>
    <th ng-show="queryParams.state === REFUNDING">开始退票时间</th>
    <th ng-show="queryParams.state === REFUNDED">完成退票时间</th>
    <th ng-show="queryParams.state === REFUND_FAIL">退票失败时间</th>
    <th ng-show="queryParams.state !== UNREFUND">业务员</th>
  </tr>
  </thead>
  <tbody class="jk-font-13">
  <tr ng-repeat="record in records" ng-class="{success: record.isCurrentUsed}">
    <td>{{(queryParams.no - 1) * queryParams.limit + $index + 1}}</td>
    <td><a ng-href="#/tickets/refunds/{{record.refundId}}">{{record.refundNo || record.refundId}}</a></td>
    <td>{{record.applyTime | date:'yyyy-MM-dd HH:mm'}}</td>
    <!--<td>
      <div class="row" ng-repeat="od in record.ods">
        <div class="col-sm-12" ng-repeat="s in od.segments">
          <div class="row">
            <div class="col-sm-4 text-center">{{s.takeOffTime | date: 'HH:mm'}}<br/>{{s.departAirportName}}</div>
            <div class="col-sm-4 text-center">{{s.airlineName}}<br/><i class="fa fa-long-arrow-right"></i> </div>
            <div class="col-sm-4 text-center">{{s.arriveTime | date: 'HH:mm'}}<br/>{{s.arriveAirportName}}</div>
          </div>
        </div>
      </div>
    </td>-->
    <td>{{record.purName}}</td>
    <td>{{record.state | dictFilter: ticketRefundStates}}</td>
    <td ng-show="queryParams.state === REFUNDING">{{record.handlingTime | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td ng-show="queryParams.state === REFUND_FAIL || queryParams.state === REFUNDED">{{record.completeTime | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td ng-show="queryParams.state === REFUNDING">{{record.handlingEmployee.name}}</td>
    <td ng-show="queryParams.state === REFUND_FAIL || queryParams.state === REFUNDED">{{record.completeEmployee.name}}</td>
  </tr>
  </tbody>
</table>

<pagination
  ng-if="totalItems>10"
  first-text="首页"
  previous-text="前一页"
  next-text="下一页"
  last-text="末页"
  class="pagination-sm"
  max-size="5"
  items-per-page="queryParams.limit"
  total-items="totalItems"
  ng-model="queryParams.no"
  ng-change="query()">
</pagination>
<style>
  table > tbody > tr > td {
    vertical-align: middle !important;
  }
  .nav.nav-pills > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .nav-pills>.active>a>tab-heading>.badge {
    color: #337ab7;
    background-color: #fff;
  }
</style>

