<div class="col-sm-12">
  <legend class="header-legend">
    <i class="fa fa-list"></i> 改签详情
  </legend>
</div>

<div ng-if="state===TICKT_CHANGE_STATE_UNCHANGE">
  <!-- 未改签信息 -->
  <div class="col-sm-12 marginTB15">
    <h4 style="color:#84a099">
      <i class = "fa fa-ticket"></i> 待改签
      <i class="badge">{{tickets1.length}}</i>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1">
        <div ng-include="'templates/bzUnchange.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-warning" ng-click="change()"><i class="fa fa-save"></i> 保存并开始改签</button>
        <a class="btn btn-sm btn-default" href="#/tickets/changes"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide1" ng-init="changingShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changingShow=!changingShow"><i class = "fa fa-ticket"></i> 改签中</a>
      <i class="badge">{{tickets2.length}}</i>
      <!--<i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': collapse1, 'fa-chevron-circle-right': !collapse1}"></i>-->
    <!--</a>-->
    </h4>
    <div class="row" ng-show="changingShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2">
        <div ng-include="'templates/bzChanging.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="changedShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changedShow=!changedShow"><i class = "fa fa-ticket"></i> 已改签</a>
      <span class="badge">{{tickets3.length}}</span>
      <!--<i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': collapse2, 'fa-chevron-circle-right': !collapse2}"></i>-->
    <!--</a>-->
    </h4>
    <div class="row" ng-show="changedShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="changeFailShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changeFailShow=!changeFailShow"><i class = "fa fa-ticket"></i> 改签失败</a>
      <span class="badge">{{tickets4.length}}</span>
      <!--<i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': collapse2, 'fa-chevron-circle-right': !collapse2}"></i>-->
      <!--</a>-->
    </h4>
    <div class="row" ng-show="changeFailShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
  </div>

</div>

<!-- 改签中信息 -->
<div ng-if="state===TICKT_CHANGE_STATE_CHANGEING">
  <div class="col-sm-12 marginTB15">
    <h4 style="color:#84a099">
      <i class = "fa fa-ticket"></i> 改签中
      <i class="badge">{{tickets2.length}}</i>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2">
        <div ng-include="'templates/bzChanging.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-warning" ng-click="fail()" ng-if="showChangeingBtn"><i class="fa fa-remove"></i> 改签失败</button>
        <button class="btn btn-sm btn-warning" ng-click="finish()" ng-if="showChangeingBtn"><i class="fa fa-save"></i> 保存并完成改签</button>
        <a class="btn btn-sm btn-default" href="#/tickets/changes"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-init="unchangeShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="unchangeShow=!unchangeShow"><i class = "fa fa-ticket"></i> 待改签</a>
      <i class="badge">{{tickets1.length}}</i>
    </h4>
    <div class="row" ng-show="unchangeShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1">
        <div ng-include="'templates/bzUnChange.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide" ng-init="changedShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changedShow=!changedShow"><i class = "fa fa-ticket"></i> 已改签</a>
      <i class="badge">{{tickets3.length}}</i>
    </h4>
    <div class="row" ng-show="changedShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="changeFailShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changeFailShow=!changeFailShow"><i class = "fa fa-ticket"></i> 改签失败</a>
      <i class="badge">{{tickets4.length}}</i>
    </h4>
    <div class="row" ng-show="changeFailShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
  </div>

</div>

<!-- 改签完成信息 -->
<div ng-if="state===TICKT_CHANGE_STATE_CHANGED">

  <div class="col-sm-12 marginTB15">
    <h4 style="color:#84a099">
      <i class = "fa fa-ticket"></i> 已改签
      <i class="badge">{{tickets3.length}}</i>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <a class="btn btn-sm btn-default" href="#/tickets/changes"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-init="unchangeShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="unchangeShow=!unchangeShow"><i class = "fa fa-ticket"></i> 待改签</a>
      <i class="badge">{{tickets1.length}}</i>
    </h4>
    <div class="row" ng-show="unchangeShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1">
        <div ng-include="'templates/bzUnchange.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-init="changingShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changingShow=!changingShow"><i class = "fa fa-ticket"></i> 改签中</a>
      <i class="badge">{{tickets2.length}}</i>
    </h4>
    <div class="row" ng-show="changingShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2">
        <div ng-include="'templates/bzChanging.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="changeFailShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changeFailShow=!changeFailShow"><i class = "fa fa-ticket"></i> 改签失败</a>
      <span class="badge">{{tickets4.length}}</span>
    </h4>
    <div class="row" ng-show="changeFailShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
  </div>

</div>

<!-- 改签失败信息 -->
<div ng-if="state===TICKT_CHANGE_STATE_FAIL">

  <div class="col-sm-12 marginTB15 slide2">
    <h4 style="color:#84a099"><i class = "fa fa-ticket"></i> 改签失败
      <span class="badge">{{tickets4.length}}</span>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <a class="btn btn-sm btn-default" href="#/tickets/changes"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide" ng-init="unchangeShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="unchangeShow=!unchangeShow"><i class = "fa fa-ticket"></i> 待改签</a>
      <span class="badge">{{tickets1.length}}</span>
    </h4>
    <div class="row" ng-show="unchangeShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1">
        <div ng-include="'templates/bzUnchange.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-init="changingShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="changingShow=!changingShow"><i class = "fa fa-ticket"></i> 改签中</a>
      <span class="badge">{{tickets2.length}}</span>
    </h4>
    <div class="row" ng-show="changingShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2">
        <div ng-include="'templates/bzChanging.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15" ng-init="changedShow=fasle">
    <h4 style="color:#84a099">
      <a href="" ng-click="changingShow=!changingShow"><i class = "fa fa-ticket"></i> 已改签</a>
      <span class="badge">{{tickets3.length}}</span>
    </h4>
    <div class="row" ng-show="changedShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3">
        <div ng-include="'templates/bzChanged.html'"></div>
      </div>
    </div>
  </div>

</div>

<div class="col-sm-12">
  <alert ng-show = "successMsg" type="success" close="successMsg = null">
    {{OneWay.alert}}
  </alert>
</div>

<!-- 订单 -->
<div class="col-sm-12 marginTB15">
  <h4 style="color:#84a099"><i class = "fa fa-bookmark"></i> 订单信息</h4>
  <div class = "col-sm-12" style = "color:#555">
    <div class="col-sm-6 padLR0" style = "font-size:12px">
      <p>订单状态 : {{record.state}}</p>
      <p>订单编号 : {{record.planeOrderId}}</p>
      <p>预订时间 : {{record.createTime | date : 'yyyy-MM-dd hh:mm:ss'}}</p>
      <p><a class="pointer" ng-click = "contacts = !contacts">联系信息 : <i class = "fa fa-angle-double-down"></i></a></p>
      <div ng-show = "contacts">
        <p>联系人: {{record.contacts}}</p>
        <p>联系邮件: {{record.contactEmail}}</p>
        <p>联系电话: {{record.contactPhone}}</p>
      </div>
      <p><a class="pointer" ng-click = "amount = !amount">金额明细 : <i class = "fa fa-angle-double-down"></i></a></p>
      <div ng-show="amount" bz-price flights = "record.flights" passengers ="record.passengers"></div>
    </div>
    <div class="col-sm-6">
      <div><span>总金额:¥ <i class = "price price-font-28">{{record.price}}</i></span></div>
    </div>
  </div>
</div>

<!-- 航班 -->
<div class="col-sm-12 marginTB15">
  <h4 style="color:#84a099"><i class = "fa fa-plane"></i>  航班</h4>
  <div class="col-sm-12" cg-busy="waiting">
    <div ng-repeat="flight in record.flights">
      <div class="flight-info">
        <div class = "row info-head marginLR0">
          <!-- <span class="badge jk-badge-primary">第{{$index+1}}程</span>  -->
          <strong style="margin-right:20px;margin-left:5px"> {{flight.takeOffTime | date:'yyyy-MM-dd'}}</strong>

          <strong> {{flight.departCityName}}</strong>
          ~
          <strong> {{flight.arriveCityName}}</strong>
        </div>
        <div class="row info-body marginLR0">
          <div class="col-sm-2">
            <div  class="airline">
              <strong>
                <span ng-class = "flight.airlineClass">{{flight.airlineName}}</span>
              </strong>
            </div>
            <div class = "flight-no" style="padding-left:20px">
              <span>{{flight.flightNo}}</span>
            </div>
            <div  class="seat-type" style="padding-left:20px">
              <span>{{flight.cabinClassName || '经济舱'}}-{{flight.cabin}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-5 text-right">
              <h4 class="time">{{flight.takeOffTime | date:'HH:mm'}}</h4>
              <p>{{flight.departAirportName}}{{flight.departAirportTower}}</p>
            </div>
            <div class="col-sm-2 pass-by" style="text-align:center">
              </span>
            </div>
            <div class="col-sm-5 text-left">
              <h4 class="time">{{flight.arriveTime  | date:'HH:mm'}} </h4>
              <p>{{flight.arriveAirportName}}{{flight.arriveAirportTower}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <span>票价</span>
            <strong class="">¥ {{flight.price}} </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .slide1 {
    -webkit-transition: height 0.5s;
    transition:height 0.5s;
  }
  .slide2 {
    -webkit-transition: height 0.5s;
    transition:height 0.5s;
  }
</style>
