<legend class="header-legend">
  <i class="fa fa-list"></i> 退票订单
</legend>

<div class="row row-space">
  <div class="col-sm-4">
    <span ng-show="queryParams.state === UNREFUND">申请退票时间</span>
    <span ng-show="queryParams.state === REFUNDING">开始退票时间</span>
    <span ng-show="queryParams.state === REFUNDED">完成退票时间</span>
    <span ng-show="queryParams.state === REFUND_FAIL">退票失败时间</span>
    <input date-picker type="text" class="input-sm" style="width: 120px"
           ng-model="queryParams.startTime" single-calendar="true">
    -
    <input date-picker type="text" class="input-sm" style="width: 120px"
           ng-model="queryParams.endTime" single-calendar="true">
  </div>
  <div class="col-sm-8">
    <div class="input-group">
      <input type="text" class="form-control input-sm" placeholder="输入关键字查询" ng-model="query.keywords" ng-change="fetch();">
    <span class="input-group-btn">
      <button class="btn btn-sm button-flat-primary" type="button" ng-click="query();" style="border:solid 1px transparent;width:100px">
        <i class = "fa fa-search"></i>
        查询
      </button>
    </span>
    </div>
  </div>
</div>
<tabset class="row-space">
  <tab select="switch(UNREFUND)">
    <tab-heading>
      待退票 <span class="badge">{{undefundCounts}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(REFUNDING)">
    <tab-heading>
      退票中 <span class="badge">{{defundingCounts}}</span>
    </tab-heading>
  </tab>
  <tab select="switch(REFUNDED)">
    <tab-heading>
      已退票
    </tab-heading>
  </tab>
  <tab select="switch(REFUND_FAIL)">
    <tab-heading>
      退票失败
    </tab-heading>
  </tab>
</tabset>
<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th style="position: relative; left: -20px;">退票编号</th>
    <th>订单编号</th>
    <th>PNR</th>
    <th>航程</th>
    <th>退单申请时间</th>
    <th>采购商</th>
    <th ng-show="queryParams.state === REFUNDING">开始退票时间</th>
    <th ng-show="queryParams.state === REFUNDED">完成退票时间</th>
    <th ng-show="queryParams.state === REFUND_FAIL">退票失败时间</th>
  </tr>
  </thead>
  <tbody class="jk-font-13">
  <tr ng-repeat="record in records">
    <td ng-if="record.isOrderLock"><i class="fa fa-lock pull-right text-danger"></i> {{(queryParams.no - 1) * queryParams.limit + $index + 1}}</td>
    <td ng-if="!record.isOrderLock"><i class="fa fa-unlock pull-right text-success"></i> {{(queryParams.no - 1) * queryParams.limit + $index + 1}}</td>
    <td>
      <a ng-href="#/tickets/returns/{{record.refundId}}">{{record.refundId}}</a>
    </td>
    <td>{{record.planeOrderId}}</td>
    <td>{{record.pnr}}</td>
    <td>
      <div ng-repeat="flight in record.planeTrips">
        {{flight.departCityName || flight.departCityCode}} - {{flight.arriveCityName || flight.arriveCityCode}}
        {{flight.takeOffTime | date: 'yyyy-MM-dd HH:mm'}}
      </div>
    </td>
    <td>{{record.applyTime | date:'yyyy-MM-dd HH:mm'}}</td>
    <td>{{record.purName}}</td>
    <td ng-show="queryParams.state === REFUNDING">{{record.handlingTime | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td ng-show="queryParams.state === REFUNDED">{{record.completeTime | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td ng-show="queryParams.state === REFUND_FAIL">{{record.completeTime | date: 'yyyy-MM-dd HH:mm'}}</td>
  </tr>
  </tbody>
</table>

<pagination
  ng-if="totalItems>10"
  first-text="首页"
  previous-text="前一页"
  next-text="下一页"
  last-text="末页"
  class="pagination-sm"
  max-size="5"
  items-per-page="queryParams.limit"
  total-items="totalItems"
  ng-model="queryParams.no"
  ng-change="query()">
</pagination>
