<div class="col-sm-12">
  <legend class="header-legend">
    <i class="fa fa-list"></i> 退单详情
  </legend>
</div>

<div ng-if="state===UNREFUND">
  <!-- 未退票信息 -->
  <div class="col-sm-12 marginTB15">
    <h4 style="color:#84a099"><i class = "fa fa-ticket"></i> 待退票
      <i class="badge">{{tickets1.length}}</i>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1" ng-if="passenger.refund">
        <div ng-include="'templates/bzUnrefund.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-warning" ng-click="refund()"><i class="fa fa-save"></i> 保存并开始退票</button>
        <a class="btn btn-sm btn-default" href="#/tickets/returns"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide1" ng-init="refundingShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundingShow=!refundingShow"><i class = "fa fa-ticket"></i> 退票中</a>
      <i class="badge">{{tickets2.length}}</i>
      <!--<i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': collapse1, 'fa-chevron-circle-right': !collapse1}"></i>-->
    <!--</a>-->
    </h4>
    <div class="row" ng-show="refundingShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunding.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="refundedShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundedShow=!refundedShow"><i class = "fa fa-ticket"></i> 已退票</a>
      <span class="badge">{{tickets3.length}}</span>
      <!--<i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': collapse2, 'fa-chevron-circle-right': !collapse2}"></i>-->
    <!--</a>-->
    </h4>
    <div class="row" ng-show="refundedShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="refundFailShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundFailShow=!refundFailShow"><i class = "fa fa-ticket"></i> 退票失败</a>
      <span class="badge">{{tickets4.length}}</span>
      <!--<i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': collapse2, 'fa-chevron-circle-right': !collapse2}"></i>-->
      <!--</a>-->
    </h4>
    <div class="row" ng-show="refundFailShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
  </div>

</div>

<!-- 退票中信息 -->
<div ng-if="state===REFUNDING">
  <div class="col-sm-12 marginTB15">
    <h4 style="color:#84a099">
      <i class = "fa fa-ticket"></i> 退票中
      <span class="badge">{{tickets2.length}}</span>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunding.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-warning" ng-click="fail()"><i class="fa fa-remove"></i> 退票失败</button>
        <button class="btn btn-sm btn-warning" ng-click="finish()"><i class="fa fa-save"></i> 保存并完成退票</button>
        <a class="btn btn-sm btn-default" href="#/tickets/returns"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-init="unrefundShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="unrefundShow=!unrefundShow"><i class = "fa fa-ticket"></i> 待退票 </a>
      <span class="badge">{{tickets1.length}}</span>
    </h4>
    <div class="row" ng-show="unrefundShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1" ng-if="passenger.refund">
        <div ng-include="'templates/bzUnrefund.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide" ng-init="refundedShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundedShow=!refundedShow"><i class = "fa fa-ticket"></i> 已退票 </a>
      <span class="badge">{{tickets3.length}}</span>
    </h4>
    <div class="row" ng-show="refundedShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="refundFailShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundFailShow!=refundFailShow"><i class = "fa fa-ticket"></i> 退票失败</a>
      <span class="badge">{{tickets4.length}}</span>
    </h4>
    <div class="row" ng-show="refundFailShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
  </div>

</div>

<!-- 退票完成信息 -->
<div ng-if="state===REFUNDED">

  <div class="col-sm-12 marginTB15">
    <h4 style="color:#84a099">
      <i class = "fa fa-ticket"></i> 已退票
      <span class="badge">{{tickets3.length}}</span>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <a class="btn btn-sm btn-default" href="#/tickets/returns"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-init="unrefundShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="unrefundShow=!unrefundShow"><i class = "fa fa-ticket"></i> 待退票</a>
      <span class="badge">{{tickets1.length}}</span>
    </h4>
    <div class="row" ng-show="unrefundShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1" ng-if="passenger.refund">
        <div ng-include="'templates/bzUnrefund.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-init="refundingShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundingShow=!refundingShow"><i class = "fa fa-ticket"></i> 退票中 </a>
      <span class="badge">{{tickets2.length}}</span>
    </h4>
    <div class="row" ng-show="refundingShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunding.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 marginTB15 slide2" ng-init="refundFailShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundFailShow=!refundFailShow"><i class = "fa fa-ticket"></i> 退票失败</a>
      <span class="badge">{{tickets4.length}}</span>
    </h4>
    <div class="row" ng-show="refundFailShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
  </div>

</div>

<!-- 退票失败信息 -->
<div ng-if="state===REFUND_FAIL">

  <div class="col-sm-12 marginTB15 slide2">
    <h4 style="color:#84a099">
      <i class = "fa fa-ticket"></i> 退票失败
      <span class="badge">{{tickets4.length}}</span>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets4" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-sm-12">
        <a class="btn btn-sm btn-default" href="#/tickets/returns"><i class="fa fa-reply"></i> 返回</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-click="unrefundShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="unrefundShow=!unrefundShow"><i class = "fa fa-ticket"></i> 待退票 </a>
      <span class="badge">{{tickets1.length}}</span>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets1" ng-if="passenger.refund">
        <div ng-include="'templates/bzUnrefund.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15 slide" ng-click="refundingShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundingShow=!refundingShow"><i class = "fa fa-ticket"></i> 退票中 </a>
      <span class="badge">{{tickets2.length}}</span>
    </h4>
    <div class="row" ng-click="refundingShow">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets2" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunding.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 marginTB15" ng-click="refundedShow=false">
    <h4 style="color:#84a099">
      <a href="" ng-click="refundedShow=!refundedShow"><i class = "fa fa-ticket"></i> 已退票 </a>
      <span class="badge">{{tickets3.length}}</span>
    </h4>
    <div class="row">
      <div class="col-sm-6" cg-busy="waiting" ng-repeat = "passenger in tickets3" ng-if="passenger.refund">
        <div ng-include="'templates/bzRefunded.html'"></div>
      </div>
    </div>
  </div>

</div>

<div class="col-sm-12">
  <alert ng-show = "successMsg" type="success" close="successMsg = null">
    {{OneWay.alert}}
  </alert>
</div>

<div class="col-sm-12" ng-show="pay.form" cg-busy="payWaiting">
  <div class="alert alert-warning">
    <button type="button" class="close" ng-click="pay.form=false;">
      <span>&times;</span>
    </button>
    <h4>支付订单</h4>
    <form name="pay" class="form-horizontal" role="form">
      <p> 你的订单金额共计 <i class="price">￥{{record.price}}</i></p>
      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label">支付密码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control input-sm" placeholder="请输入您的支付密码" ng-model="pay.payPassword">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" ng-disabled="pay.$invalid || pay.$pristine" ng-click="payOrder();">确认支付</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- 订单 -->
<div class="col-sm-12 marginTB15">
  <h4 style="color:#84a099"><i class = "fa fa-bookmark"></i> 订单信息</h4>
  <div class = "col-sm-12" style = "color:#555">
    <div class="col-sm-6 padLR0" style = "font-size:12px">
      <p>订单状态 : {{record.state}}</p>
      <p>订单编号 : {{record.planeOrderId}}</p>
      <p>预订时间 : {{record.createTime | date : 'yyyy-MM-dd hh:mm:ss'}}</p>
      <p><a class="pointer" ng-click = "contacts = !contacts">联系信息 : <i class = "fa fa-angle-double-down"></i></a></p>
      <div ng-show = "contacts">
        <p>联系人: {{record.contacts}}</p>
        <p>联系邮件: {{record.contactEmail}}</p>
        <p>联系电话: {{record.contactPhone}}</p>
      </div>
      <p><a class="pointer" ng-click = "amount = !amount">金额明细 : <i class = "fa fa-angle-double-down"></i></a></p>
      <div ng-show="amount" bz-price flights = "record.flights" passengers ="record.passengers"></div>
    </div>
    <div class="col-sm-6">
      <div><span>总金额:¥ <i class = "price price-font-28">{{record.price}}</i></span></div>
      <div class="form-group">
        <div ng-if="record.state !== '-1'">
          <button class="btn button-flat-action" ng-click="pay.form=true;" ng-if="record.state === '1'">
            <i class="fa fa-money"></i> 去支付
          </button>
          <!--<a class="btn button-flat-highlight" fg-bootstrap-confirm="cancelOrder(record.planeOrderId)" ng-disabled = "!record.planeOrderId">
            <i class="fa fa-times-circle"></i> 取消订单
          </a>-->
        </div>
        <a class="btn btn-default" disabled ng-if="record.state === '-1'">
          <i class="fa fa-minus"></i> 已取消
        </a>
      </div>
    </div>
  </div>
</div>

<!-- 航班 -->
<div class="col-sm-12 marginTB15">
  <h4 style="color:#84a099"><i class = "fa fa-plane"></i>  航班</h4>
  <div class="col-sm-12" cg-busy="waiting">
    <div ng-repeat="flight in record.flights">
      <div class="flight-info">
        <div class = "row info-head marginLR0">
          <!-- <span class="badge jk-badge-primary">第{{$index+1}}程</span>  -->
          <strong style="margin-right:20px;margin-left:5px"> {{flight.takeOffTime | date:'yyyy-MM-dd'}}</strong>

          <strong> {{flight.departCityName}}</strong>
          ~
          <strong> {{flight.arriveCityName}}</strong>
        </div>
        <div class="row info-body marginLR0">
          <div class="col-sm-2">
            <div  class="airline">
              <strong>
                <span ng-class = "flight.airlineClass">{{flight.airlineName}}</span>
              </strong>
            </div>
            <div class = "flight-no" style="padding-left:20px">
              <span>{{flight.flightNo}}</span>
            </div>
            <div  class="seat-type" style="padding-left:20px">
              <span>{{flight.cabinClassName || '经济舱'}}-{{flight.cabin}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-5 text-right">
              <h4 class="time">{{flight.takeOffTime | date:'HH:mm'}}</h4>
              <p>{{flight.departAirportName}}{{flight.departAirportTower}}</p>
            </div>
            <div class="col-sm-2 pass-by" style="text-align:center">
              </span>
            </div>
            <div class="col-sm-5 text-left">
              <h4 class="time">{{flight.arriveTime  | date:'HH:mm'}} </h4>
              <p>{{flight.arriveAirportName}}{{flight.arriveAirportTower}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <span>票价</span>
            <strong class="">¥ {{flight.price}} </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .slide1 {
    -webkit-transition: height 0.5s;
    transition:height 0.5s;
  }
  .slide2 {
    -webkit-transition: height 0.5s;
    transition:height 0.5s;
  }
</style>
