<div class="row">
  <div class="col-sm-8"  style = "height:400px;border-bottom:solid 1px #e5e5e5">
    <h3><i class = "fa fa-plane jk-ico-primary-2"> 机票查询</i></h3>
    <form name="domesticForm" class="form-horizontal" role="form">
      <!-- 航程类型选择 -->
      <div class="btn-group btn-group-xs-jk">
        <label class="btn btn-default"  ng-model = "record.name" btn-radio = "'OneWay'">单程</label>
        <label class="btn btn-default"  ng-model = "record.name" btn-radio = "'Round'">往返</label>
        <label class="btn btn-default" ng-model = "record.name" btn-radio = "'StopOver'">联程</label>
      </div>

      <!-- 往返 -->
      <div ng-if="record.name!=='StopOver'" style="margin-top:25px">
        <div class="row marginTB5 marginLR0">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
            <div class="col-sm-4">出发城市</div>
            <div class="col-sm-4">到达城市</div>
            <div class="col-sm-4">出发时间</div>
          </div>
        </div>
        <!-- 去程 -->
        <div class="row marginTB5 marginLR0">
          <div class="col-sm-1 padLR0">
            <span class="badge jk-badge-default col-sm-12 padLR0 marginTB5">去程</span>
          </div>
          <div class="col-sm-3">
            <input bz-city type="text" class="form-control input-sm" name="departCityCode" ng-model="record.query.departCityCode" >
          </div>
          <div class="col-sm-3">
            <input bz-city type="text" class="form-control input-sm" name="arriveCityCode" ng-model="record.query.arriveCityCode" >
          </div>
          <div class="col-sm-3">
            <input date-picker type="text" class="form-control input-sm"  name="takeOffTime" ng-model="record.query.takeOffTime" >
          </div>
        </div>

        <!-- 回程 -->
        <div class="row marginTB5 marginLR0" ng-show = "record.name == 'Round'">
            <div class="col-sm-1 padLR0">
              <span class="badge jk-badge-default col-sm-12 padLR0 marginTB5">回程</span>
            </div>
            <div class="col-sm-3">
              <input bz-city type="text" class="form-control input-sm" name="departCityCode" ng-model="record.query.arriveCityCode" disabled>
            </div>
            <div class="col-sm-3">
              <input bz-city type="text" class="form-control input-sm" name="departCityCode" ng-model="record.query.departCityCode" disabled>
            </div>
            <div class="col-sm-3">
              <input date-picker type="text" class="form-control input-sm"  name="backTime" ng-model="record.query.backTime" >
            </div>
        </div>
      </div>

      <!-- 联程专用 -->
      <div ng-if="record.name==='StopOver'" style="margin-top:25px">
        <div class="row marginTB5 marginLR0">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
            <div class="col-sm-4">出发城市</div>
            <div class="col-sm-4">到达城市</div>
            <div class="col-sm-4">出发时间</div>
          </div>
        </div>
        <div class="row marginTB5 marginLR0" ng-repeat = "f in StopOver.query">
          <div>
          <div class="col-sm-1 padLR0">
            <span class="badge jk-badge-default col-sm-12 padLR0 marginTB5">第{{$index+1}}程</span>
          </div>
          <div class="col-sm-3">
              <input bz-city type="text" class="form-control input-sm" name="departCityCode" ng-model="f.departCityCode" >
            </div>
            <div class="col-sm-3">
              <input bz-city type="text" class="form-control input-sm" name="arriveCityCode" ng-model="f.arriveCityCode" >
            </div>
            <div class="col-sm-3">
              <input date-picker type="text" class="form-control input-sm"  name="takeOffTime" ng-model="f.takeOffTime" >
            </div>
            
            <div><i class="fa fa-times pointer" ng-click = "StopOver.query.splice($index,1)" ng-if = "$index > 1"></i></div>
          </div>
        </div>
      </div>   
      <!-- 搜索按钮 -->
      <div style="margin-top:15px">
        <div class="row marginTB5 marginLR0">
          <div class="col-sm-3">
            <a class="pointer pull-left" ng-click="addFlight()"  ng-if = "record.name === 'StopOver'"><i class="fa fa-plus"> 添加航程</i></a>
          </div>
          <div class="col-sm-3 col-sm-offset-4">
            <button class="btn btn-warning btn-block  button-flat-highlight" ng-disabled="domesticForm.$invalid || domesticForm.$pristine" ng-click="query();"><i class = "fa fa-search"> 搜索</i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-4 padLR0"  style = "height:400px">
    <div class = "alert alert-warning alert-dismissible" style="height:100%;background:none">
        <div style = "text-align:center;">
            <a class="button button-circle button-flat-primary" href="#">
              <i class="fa fa-user" style = "font-size:60px;margin-top:30px"></i>
            </a>
        </div>
        <div class ="text-center">
            <span>{{user.deptName}} {{user.nameCn}}</span>
        </div>       
         <div class = "text-center">
            <span>{{user.email}}</span>
        </div>

        <div class = "col-sm-6 text-center marginTB15">
          <i class = "fa fa-bell jk-font-50"> </i> 
          <div>
            <a href = "#/my/messages" style="color:#8a6d3b">消息提醒({{unReads || 0}})</a>
          </div>
        </div>

        <div class = "col-sm-6 text-center marginTB15">
            <i class = "fa fa-archive jk-font-50"></i>
          <div>
            <a href = "#/my/trips" style="color:#8a6d3b"> 最近订单</a>
          </div>
        </div>

        <div class = "col-sm-6 text-center marginTB15">
          <i class = "fa fa-users jk-font-50"></i> 
          <div>
          <a href = "#/frequentFlyers" style="color:#8a6d3b">我的常旅客</a>
          </div>
        </div>

        <div class = "col-sm-6 text-center marginTB15">
          <i class = "fa fa-bookmark jk-font-50"></i> 
          <div>
            <a href = "" style="color:#8a6d3b">差旅政策</a>
          </div>
        </div>
    </div>
  </div>
</div>
<h3><i class ="fa fa-bullhorn jk-ico-primary-2"> 最新公告</i> <h3></div>

