<div>
  
  <!--出发时间-->
  <div class="form-group" ng-class="{ 'has-error' : form.departDate.$invalid && !form.departDate.$pristine }">
    <label for="id_departDate" class="control-label col-xs-3 col-sm-2 col-lg-1">出发时间</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <input date-picker type="text" class="form-control" id="id_departDate" name="departDate" ng-model="record.departDate" placeholder="出发时间" required>
      <p class="help-block" 
        ng-if="form.departDate.$invalid && !form.departDate.$pristine">
        必填。
      </p> 
    </div>
  </div>

  <!--出发城市-->
  <div class="form-group" ng-class="{ 'has-error' : form.departCityCode.$invalid && !form.departCityCode.$pristine }">
    <label for="id_departCityCode" class="control-label col-xs-3 col-sm-2 col-lg-1">出发城市</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <input bz-city type="text" class="form-control" id="id_departCityCode" name="departCityCode" ng-model="record.departCityCode" placeholder="出发机场城市" required>
      <p class="help-block" 
        ng-if="form.departCityCode.$invalid && !form.departCityCode.$pristine">
        必填。
      </p> 
    </div>
  </div>

  <!--抵达城市-->
  <div class="form-group" ng-class="{ 'has-error' : form.arriveCityCode.$invalid && !form.arriveCityCode.$pristine }">
    <label for="id_arriveCityCode" class="control-label col-xs-3 col-sm-2 col-lg-1">抵达城市</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <input bz-city type="text" class="form-control" id="id_arriveCityCode" name="arriveCityCode" ng-model="record.arriveCityCode" placeholder="抵达机场城市" required>
      <p class="help-block" 
        ng-if="form.arriveCityCode.$invalid && !form.arriveCityCode.$pristine">
        必填。
      </p> 
    </div>
  </div>

  <!--返回时间-->
  <div class="form-group" ng-class="{ 'has-error' : form.returnDate.$invalid && !form.returnDate.$pristine }" ng-if="travelType==='1'">
    <label for="id_planReturnDate" class="control-label col-xs-3 col-sm-2 col-lg-1">返回时间</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <input type="text" class="form-control" id="id_planReturnDate" name="planReturnDate" ng-model="record.planReturnDate" placeholder="返回时间" required>
      <p class="help-block" 
        ng-if="form.planReturnDate.$invalid && !form.planReturnDate.$pristine">
        必填。
      </p> 
    </div>
  </div>

  <!--备注-->
  <div class="form-group" ng-class="{ 'has-error' : form.remark.$invalid && !form.remark.$pristine }">
    <label for="id_remark" class="control-label col-xs-3 col-sm-2 col-lg-1">机票备注</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <textarea type="text" class="form-control" id="id_remark" name="remark" ng-model="record.remark" placeholder="机票备注"></textarea>
      <p class="help-block" 
        ng-if="form.remark.$invalid && !form.remark.$pristine">
        
      </p> 
    </div>
  </div>

</div>