<div>
  <legend><h6>{{passenger.nameCn}}</h6></legend>
  <form class="form-horizontal form-condensed-xs" role="form" ng-hide = "passenger.edit" >
    <div class="form-group" >
        <label class="col-sm-3 control-label">证件类型</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{passenger.idcTypeName || '暂缺'}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">证件号码</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{passenger.idcNo || '暂缺'}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">手机号</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{passenger.mobilephone || '暂缺'}}</p>
        </div>
    </div> 
    <div class="form-group" >
        <label class="col-sm-3 control-label">电子邮箱</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{passenger.email || '暂缺'}}</p>
        </div>
    </div> 
    <div class="form-group">
        <label class="col-sm-3 control-label">成本中心</label>
        <div class="col-sm-7">
          <select class="form-control"
            ng-model="passenger.costCenterId"
            ng-options="e.costCenterId as e.costCenterName for e in costCenters"
            ng-disabled="!costCenters">
          </select>
        </div>
    </div>
    <div bz-insuance ng-model="passenger.insurances"></div>
  </form>
</div>