
  <div class="col-sm-12 order-passenger-info">
    <p style="margin-bottom:10px">
    <span class="name">
      <span ng-if="">{{passenger.idcName }}</span>
      <span>{{passenger.idcName }}</span>
    </span>
      <label class="label label-default pull-right">已处理(客服：{{passenger.change.handlingEmployee.name}})</label>
    </p>
    <p>
      <span class = "title">改签编号 : </span>
      <span class="import">{{passenger.change.changeId}}</span>
    </p>
    <p>
      <span class = "title">改签申请时间 : </span>
      <span class="import">{{passenger.change.applyTime | date: 'yyyy-MM-dd HH:mm'}}</span>
    </p>
    <p>
      <span class = "title">新的PNR : </span>
      <span class="import">{{passenger.change.pnr}}</span>
    </p>
    <p>
      <span class = "title">新的机票票号 : </span>
      <span class="import">{{passenger.change.planeTicketNo}}</span>
    </p>
    <p>
      <span class = "title">供应商改签金额 : </span>
      <span class="import">{{passenger.change.supPriceDifference}}</span>
    </p>
    <p>
      <span class = "title">供应商改签手续费 : </span>
      <span class="import">{{passenger.change.supHandlingFee}}</span>
    </p>
    <p>
      <span class = "title">采购商改签金额 : </span>
      <span class="import">{{passenger.change.priceDifference}}</span>
    </p>
    <p>
      <span class = "title">采购商改签手续费 : </span>
      <span class="import">{{passenger.change.handlingFee}}</span>
    </p>
    <p>
      <span class = "title">采购商结算方式 : </span>
      <span class="import">{{passenger.change.way | dictFilter: payTypes}}</span>
    </p>
    <p>
      <span class = "title">备注 : </span>
      <span class="import">{{passenger.change.remark}}</span>
    </p>
    <p>
      <span class = "title">证件信息 : </span>
      <span class = "import">{{passenger.idcTypeName}}</span>
      <span class = "import">{{passenger.idcNo}}</span>
    </p>
    <p>
      <span class = "title">成本中心 : </span>
      <span class = "import">{{passenger.costCenterName || passenger.costCenterId || '222'}}</span>
    </p>
    <p>
      <span class = "title">保险 : </span>
        <span class = "import" ng-repeat = "insurance in passenger.insurances">
          {{insurance.name || insurance.type}} x {{insurance.num}} 份
        </span>
    </p>
  </div>

