
  <div class="col-sm-12 order-passenger-info">
    <p style="margin-bottom:10px">
      <span class="name">
        <input type="checkbox" ng-model="checkboxes2.items[passenger.planeTicketId]" ng-if="showChangeingBtn"/>
        {{passenger.idcName }}&nbsp;
        <button class="btn btn-xs btn-primary" ng-click="edit(passenger)" ng-show="state===TICKT_CHANGE_STATE_CHANGEING"><i class="fa fa-edit"></i> 回填</button>
      </span>
      <label class="label label-info pull-right">处理中(客服：{{passenger.change.handlingEmployee.name}})</label>
    </p>
    <div class="row">
      <div class="col-sm-6">
        <p>
          <span class = "title">改签编号 : </span>
          <span class="import">{{passenger.change.changeId}}</span>
        </p>
        <p>
          <span class = "title">改签申请时间 : </span>
          <span class="import">{{passenger.change.applyTime | date: 'yyyy-MM-dd HH:mm'}}</span>
        </p>
        <p>
          <span class = "title">原PNR : </span>
          <span class="import">{{record.pnr}}</span>
        </p>
        <p>
          <span class = "title">原机票票号 : </span>
          <span class="import">{{passenger.planeTicketNo}}</span>
        </p>
        <p>
          <span class = "title">证件信息 : </span>
          <span class = "import">{{passenger.idcTypeName}}</span>
          <span class = "import">{{passenger.idcNo}}</span>
        </p>
        <p>
          <span class = "title">成本中心 : </span>
          <span class = "import">{{passenger.costCenterName || passenger.costCenterId || '222'}}</span>
        </p>
        <p>
          <span class = "title">保险 : </span>
        <span class = "import" ng-repeat = "insurance in passenger.insurances">
          {{insurance.name || insurance.type}} x {{insurance.num}} 份
        </span>
        </p>
      </div>
      <div class="col-sm-6">
        <p></p><p></p>
        <p>
          <span class = "title">新PNR : </span>
          <span class="import">{{passenger.change.pnr}}</span>
        </p>
        <p>
          <span class = "title">新机票票号 : </span>
          <span class="import">{{passenger.change.planeTicketNo}}</span>
        </p>
        <p>
          <span class = "title">供应商改签差价 : </span>
          <span class="import">{{passenger.change.supPriceDifference}}</span>
        </p>
        <p>
          <span class = "title">供应商改签手续费 : </span>
          <span class="import">{{passenger.change.supHandlingFee}}</span>
        </p>
        <p>
          <span class = "title">采购商改签差价 : </span>
          <span class="import">{{passenger.change.priceDifference}}</span>
        </p>
        <p>
          <span class = "title">采购商改签手续费 : </span>
          <span class="import">{{passenger.change.handlingFee}}</span>
        </p>
        <p>
          <span class = "title">采购商结算方式 : </span>
          <span class="import">{{passenger.change.way | dictFilter: payTypes}}</span>
        </p>
        <p>
          <span class = "title">备注 : </span>
          <span class="import">{{passenger.change.remark}}</span>
        </p>
      </div>
    </div>

  </div>

