<div>
  <div ng-if="cities.length === 0" style="width:350px;">
    <div class="col-sm-12">
      <em> 支持中文/拼音/简拼输入</em>
      <span class="pull-right">X</span>
    </div>
    <hr style="margin:0;">
    <div style="padding-left:10px;">
      <a class="btn btn-xs btn-link" ng-click="getHotCities($event)">热门</a>
      <a class="btn btn-xs btn-link" ng-click="changeCitesGroup($event, 'ABCDEF')">ABCDEF</a>
      <a class="btn btn-xs btn-link" ng-click="changeCitesGroup($event, 'GHIJ')">GHIJ</a>
      <a class="btn btn-xs btn-link" ng-click="changeCitesGroup($event, 'KLMN')">KLMN</a>
      <a class="btn btn-xs btn-link" ng-click="changeCitesGroup($event, 'PQRSTUVW')">PQRSTUVW</a>
      <a class="btn btn-xs btn-link" ng-click="changeCitesGroup($event, 'XYZ')">XYZ</a>
    </div>
    <hr style="margin:0;">
    <div class="col-sm-3" style="padding-right: 0;" 
      ng-repeat="city in citiesGroup;">
      <a class="pointer" ng-click="setCity(city, $event)">{{city.CityName}}</a>
    </div>
  </div>
  <div ng-if="cities.length > 0">
    <li>符合条件的数据{{cities.length}}条</li>
    <li ng-repeat = "c in cities | paginator:page:pageSize">
      <div class="row marginLR0 pointer" ng-click="setCity(c,$event)" ng-class="{'a-help':!c.Airport}">
        <div class="col-sm-8 padLR4">
          <a class = "pull-left">
            <span>{{c.CityName}}</span>
            <span style = "color:#FF6600;" ng-show="!c.Airport">(无机场)</span>
          </a>
        </div>
        <div class="col-sm-4 padLR4">
          <a class="pull-right">{{c.QuanPin}}</a>
        </div>
      </div>
    </li>
    <li>
      <div class="pull-right marginLR4" ng-click="stopPro($event)">
        <span class="glyphicon glyphicon-arrow-left marginLR5" ng-click="pre($event)" ng-hide="page === 1"></span>
        <span class="glyphicon glyphicon-arrow-right marginLR5" ng-click="next($event)" ng-hide="page === pageNum && pageNum"></span>
      </div>
    </li>
  </div>
</div>
