<div>
  <div class="row row-space">
    <div class="col-lg-12">
      <a class="btn button-flat-action btn-sm" href="#/departments/new"><i class="fa fa-plus"></i> 新增</a>
      <a class="btn button-flat-action btn-sm" ng-click="edit()"><i class="fa fa-edit"></i> 编辑</a>
      <a id="delBtn" class="btn button-flat-action btn-sm"><i class="fa fa-remove"></i> 删除</a>
    </div>
  </div>
  <div id="deptTree" style="overflow-x: hidden; overflow-y: auto; max-height:450px"></div>
</div>
