<div>
  <!--入住城市-->
  <div class="form-group" ng-class="{ 'has-error' : form.hotelCityCode.$invalid && !form.hotelCityCode.$pristine }">
    <label for="id_hotelCityCode" class="control-label col-xs-3 col-sm-2 col-lg-1">入住城市</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <input bz-city type="text" class="form-control" id="id_hotelCityCode" name="hotelCityCode" ng-model="record.hotelCityCode" placeholder="入住城市">
    </div>
  </div>
</div>
