<div>
  <legend style="margin-top:30px">身份证件</legend>
  <div class="form-group form-group-sm">
    <label for="id_idcName" class="control-label col-xs-3 col-sm-2"><i class = "fa fa-tag"></i> 证件--1</label>
    <div class="col-xs-9 col-sm-10">
    </div>
  </div>

  <div class = "jk-font-color-7">
    <!--姓名-->
    <div class="form-group form-group-sm">
      <label for="id_idcName" class="control-label col-xs-3 col-sm-2">姓名</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_idcName" name="idcName" ng-model="record.idcName" placeholder="姓名">
          
        </p> 
      </div>
    </div>

    <!--证件类型-->
    <div class="form-group form-group-sm">
      <label for="id_idcType" class="control-label col-xs-3 col-sm-2">证件类型</label>
      <div class="col-xs-9 col-sm-10">
        <select class="form-control input-sm" name="idcType" id="id_idcType"
          ng-model="record.idcType">
        </select>
          
        </p> 
      </div>
    </div>

    <!--证件号码-->
    <div class="form-group form-group-sm">
      <label for="id_idcNo" class="control-label col-xs-3 col-sm-2">证件号码</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_idcNo" name="idcNo" ng-model="record.idcNo" placeholder="证件号码">
          
        </p> 
      </div>
    </div>
    
    <!--有效期-->
    <div class="form-group form-group-sm">
      <label for="id_idcValidityDate" class="control-label col-xs-3 col-sm-2">有效期</label>
      <div class="col-xs-9 col-sm-10">
        <input date-picker type="text" class="form-control input-sm" id="id_idcValidityDate" name="idcValidityDate" ng-model="record.idcValidityDate" placeholder="有效期">
          
        </p> 
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="id_idcName" class="control-label col-xs-3 col-sm-2"><i class = "fa fa-tag"></i> 证件--2</label>
    <div class="col-xs-9 col-sm-10">
    </div>
  </div>
  
  <div class = "jk-font-color-7">
    <!--姓名-->
    <div class="form-group form-group-sm">
      <label for="id_idcName2" class="control-label col-xs-3 col-sm-2">姓名</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_idcName2" name="idcName2" ng-model="record.idcName2" placeholder="姓名">
          
        </p> 
      </div>
    </div>

    <!--证件类型-->
    <div class="form-group form-group-sm">
      <label for="id_idcType2" class="control-label col-xs-3 col-sm-2">证件类型</label>
      <div class="col-xs-9 col-sm-10">
        <select class="form-control input-sm" name="idcType2" id="id_idcType2"
          ng-model="record.idcType2">
        </select>
          
        </p> 
      </div>
    </div>

    <!--证件号码-->
    <div class="form-group form-group-sm">
      <label for="id_idcNo2" class="control-label col-xs-3 col-sm-2">证件号码</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_idcNo2" name="idcNo2" ng-model="record.idcNo2" placeholder="证件号码">
          
        </p> 
      </div>
    </div>
    
    <!--有效期-->
    <div class="form-group form-group-sm">
      <label for="id_idcValidityDate2" class="control-label col-xs-3 col-sm-2">有效期</label>
      <div class="col-xs-9 col-sm-10">
        <input date-picker type="text" class="form-control input-sm" id="id_idcValidityDate2" name="idcValidityDate2" ng-model="record.idcValidityDate2" placeholder="有效期">
          
        </p> 
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="id_idcName" class="control-label col-xs-3 col-sm-2"><i class = "fa fa-tag"></i> 证件--3</label>
    <div class="col-xs-9 col-sm-10">
    </div>
  </div>

  <div class = "jk-font-color-7">
    <!--姓名-->
    <div class="form-group form-group-sm">
      <label for="id_idcName3" class="control-label col-xs-3 col-sm-2">姓名</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_idcName3" name="idcName3" ng-model="record.idcName3" placeholder="姓名">
          
        </p> 
      </div>
    </div>

    <!--证件类型-->
    <div class="form-group form-group-sm">
      <label for="id_idcType3" class="control-label col-xs-3 col-sm-2">证件类型</label>
      <div class="col-xs-9 col-sm-10">
        <select class="form-control input-sm" name="idcType3" id="id_idcType3"
          ng-model="record.idcType3">
        </select>
          
        </p> 
      </div>
    </div>

    <!--证件号码-->
    <div class="form-group form-group-sm">
      <label for="id_idcNo3" class="control-label col-xs-3 col-sm-2">证件号码</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_idcNo3" name="idcNo3" ng-model="record.idcNo3" placeholder="证件号码">
          
        </p> 
      </div>
    </div>
    
    <!--有效期-->
    <div class="form-group form-group-sm">
      <label for="id_idcValidityDate3" class="control-label col-xs-3 col-sm-2">有效期</label>
      <div class="col-xs-9 col-sm-10">
        <input date-picker type="text" class="form-control input-sm" id="id_idcValidityDate3" name="idcValidityDate3" ng-model="record.idcValidityDate3" placeholder="有效期">
          
        </p> 
      </div>
    </div>
  </div>
</div>