<div class="row" ng-repeat="issue in issues">
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <label class="label label-success pull-right">{{issue.handlingEmployee.name}}</label>
        <div class="row">
          <div class="col-sm-4">
            机票编号:{{issue.planeTicketNo}}
          </div>
          <div class="col-sm-5">
            预订时间:{{issue.createTime | date: 'yyyy-MM-dd HH:mm'}}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal jk-font-13">
          <legend class="">基本信息</legend>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-5 control-label">PNR</label>
                <div class="col-sm-7">
                  <p class="form-control-static">{{record.pnr}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-5 control-label">采购商</label>
                <div class="col-sm-7">
                  <p class="form-control-static">{{record.purName}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-5 control-label">乘客</label>
                <div class="col-sm-7">
                  <p class="form-control-static">{{issue.idcName || issue.firstName + ' ' + issue.lastName}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" style="position: relative; left: 22px;">申请行程</label>
            <div class="col-sm-9" style="font-size: 6px; position: relative; left: 22px;">
              <p class="form-control-static">
                <div class="row" ng-repeat="od in record.ods">
                  <div class="col-sm-12" ng-repeat="s in od.segments">
                    <div class="row" style="border: dashed 1px #BFD3CE;border-collapse:collapse; margin-bottom: 5px">
                      <div class="col-sm-1"><i class="fa fa-plane text-primary"></i></div>
                      <div class="col-sm-2">{{s.takeOffTime | date: 'MM-dd'}}</div>
                      <div class="col-sm-3">{{s.departAirportName || s.departAirportCode}}({{s.takeOffTime | date: 'HH:mm'}})</div>
                      <div class="col-sm-2"><i class="fa fa-long-arrow-right" style="transform: scaleX(3)"></i> </div>
                      <div class="col-sm-3">{{s.arriveAirportName || s.arriveAirportCode}}({{s.arriveTime | date: 'HH:mm'}})</div>
                    </div>
                  </div>
                </div>
              </p>
            </div>
          </div>
          <div ng-show="issue.state===ISSUEING || issue.state===ISSUED">
            <legend style="margin-top: 10px">回填信息</legend>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">供应商平台</label>
                  <div class="col-sm-7" ng-show="$parent.curState!==ISSUEING">
                    <p class="form-control-static">{{record.supId | dictFilter: dictSups}}</p>
                  </div>
                  <div class="col-sm-7" ng-show="$parent.curState===ISSUEING">
                    <select name="supId" id="supId" ng-model="issues.supId" class="form-control input-sm"
                            ng-options="sup.supplierId as sup.supplierName for sup in sups"></select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">供应商订单号</label>
                  <div class="col-sm-7" ng-show="$parent.curState!==ISSUEING">
                    <p class="form-control-static">{{record.supPlaneOrderNo}}</p>
                  </div>
                  <div class="col-sm-7" ng-show="$parent.curState===ISSUEING">
                    <input type="text" class="form-control input-sm" ng-model="issues.supPlaneOrderNo"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">支付方式</label>
                  <div class="col-sm-7" ng-show="$parent.curState!==ISSUEING">
                    <p class="form-control-static">{{record.supPayType | dictFilter: payTypes}}</p>
                  </div>
                  <div class="col-sm-7" ng-show="$parent.curState===ISSUEING">
                    <select name="supPayType" id="supPayType" class="form-control" ng-model="issues.supPayType"
                            ng-options="d.code as d.name for d in payTypes"></select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" ng-show="issues.supPayType==='2' || issues.supPayType === '3' || record.supPayType==='2' || record.supPayType === '3'">
                <div class="form-group">
                  <label class="col-sm-5 control-label">支付流水号</label>
                  <div class="col-sm-7" ng-show="$parent.curState!==ISSUEING">
                    <p class="form-control-static">{{record.supBillNo}}</p>
                  </div>
                  <div class="col-sm-7" ng-show="$parent.curState===ISSUEING">
                    <input type="text" class="form-control input-sm" ng-model="issues.supBillNo"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">结算价</label>
                  <div class="col-sm-7" ng-show="$parent.curState!==ISSUEING">
                    <p class="form-control-static price">{{issue.floorPrice | currency: '￥ '}}</p>
                  </div>
                  <div class="col-sm-7" ng-show="$parent.curState===ISSUEING">
                    <input type="text" class="form-control input-sm" ng-model="issue.floorPrice"/>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">机票票号</label>
                  <div class="col-sm-7" ng-show="$parent.curState!==ISSUEING">
                    <p class="form-control-static">{{issue.planeTicketNo}}</p>
                  </div>
                  <div class="col-sm-7" ng-show="$parent.curState===ISSUEING">
                    <input type="text" class="form-control input-sm" ng-model="issue.planeTicketNo"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">备注</label>
                  <div class="col-sm-7" ng-show="$parent.curState!==ISSUEING">
                    <p class="form-control-static">{{record.ticketingRemark}}</p>
                  </div>
                  <div class="col-sm-7" ng-show="$parent.curState===ISSUEING">
                    <textarea ng-model="issues.ticketingRemark" class="form-control input-sm" rows="1"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
<style>
  .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
  }
  legend{
    font-size: 13px;
  }
  .form-control-static{
    padding-bottom: 0;
  }
  .panel.panel-info{
    margin-bottom: 10px
  }
</style>
