
  <div class="col-sm-12 order-passenger-info">
    <p style="margin-bottom:10px">
    <span class="name">
      <span>{{passenger.idcName }}</span>
    </span>
      <label class="label label-default pull-right">已处理(客服：{{record.ticketingEmployee.name}})</label>
    </p>
    <p>
      <span class = "title">供应商平台 : </span>
      <span class = "import">{{record.supId}}</span>
    </p>
    <p>
      <span class = "title">供应商平台订单号 : </span>
      <!--<span class = "import">{{record.detailSupPlaneOrder.supOrderNo}}</span>-->
      <span class = "import">{{record.deliveryAddress}}</span>
    </p>
    <p>
      <span class = "title">结算价 : </span>
      <!--<span class = "import">{{record.detailSupPlaneOrder.supPayPrice}}</span>-->
      <span class = "import">{{passenger.floorPrice}}</span>
    </p>
    <!--<p>
      <span class = "title">结算方式 : </span>
      <span class = "import">{{record.detailSupPlaneOrder.supPayType | dictFilter: payTypes}}</span>
    </p>-->
    <p>
      <span class = "title">机票编号 : </span>
      <span class = "import">{{passenger.planeTicketId}}</span>
    </p>
    <p>
      <span class = "title">证件信息 : </span>
      <span class = "import">{{passenger.idcTypeName}}</span>
      <span class = "import">{{passenger.idcNo}}</span>
    </p>
    <p>
      <span class = "title">成本中心 : </span>
      <span class = "import">{{passenger.costCenterName || passenger.costCenterId || '222'}}</span>
    </p>
    <p>
      <span class = "title">保险 : </span>
      <span class = "import" ng-repeat = "insurance in passenger.insurances">
        {{insurance.name || insurance.type}} x {{insurance.num}} 份
      </span>
    </p>
  </div>

