<div class="container">
  <div class="col-md-4 col-md-offset-4" style="margin-top: 15%;">
    <div class="alert alert-danger" ng-show="showAlert">{{errMsg}}</div>
    <form class="form-horizontal" name="form">
      <!-- <div fg-panel class="panel panel-default" title="登录"> -->
        <!--用户名-->
        <div class="form-group" ng-class="{ 'has-error' : form.employeename.$invalid && !form.employeename.$pristine }">
          <div class="col-lg-12">
            <input type="text" style ="height:42px" class="form-control" id="id_employeename" name="employeename" ng-model="user.employeename" placeholder="登录名">
            <p class="help-block"
              ng-show="form.employeename.$invalid && !form.employeename.$pristine">

            </p>
          </div>
        </div>

        <!--密码-->
        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
          <div class="col-lg-12">
            <input type="password"  style ="height:42px" class="form-control" id="id_password" name="password" ng-model="user.password" placeholder="登录密码">
            <p class="help-block"
              ng-show="form.password.$invalid && !form.password.$pristine">

            </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
            <label class="checkbox-inline">
              <input type="checkbox" id="rememberMe" ng-model="rememberMe"> 记住我
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
            <button class="btn btn-success button-flat-action btn-lg btn-block" ng-click="login();">登录</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
            <a class="btn-link pull-right" ng-click="forget()">忘记密码 ？</a>
          </div>
        </div>
      <!-- </div> -->
    </form>
  </div>
</div>
