<div>
  <legend>菜单列表</legend>
  <!--菜单列表-->
  <div class="form-group form-group-sm">
    <div class="col-xs-9 col-sm-10 col-xs-offset-3 col-sm-offset-2">
      <div class="col-xs-5 col-sm-4 form-group" style="padding-top: 6px;" ng-repeat="p in menus1">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="type" ng-model="$parent.items1[p.menuId]"> {{p.menuName}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <!--模块列表-->
  <legend>模块列表</legend>
  <div class="form-group form-group-sm">
    <div class="col-xs-9 col-sm-10 col-xs-offset-3 col-sm-offset-2">
      <div class="col-xs-5 col-sm-4 form-group" style="padding-top: 6px;" ng-repeat="p in menus2">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="type" ng-model="$parent.items2[p.menuId]"> {{p.menuName}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
