<div class="fixed">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h6>
        <div class="row">
          <div class="col-sm-8">
            <a href="" ng-click="toggle()">待处理任务列表</a> <span class="badge">{{totalItems}}</span>
          </div>
          <div class="col-sm-4 text-right">
            <a href="" ng-click="toggle()"><i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': collapse, 'fa-chevron-circle-right': !collapse}"></i></a>
          </div>
        </div>
      </h6>
    </div>
    <div class="panel-body slide">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>状态</th>
            <th>订单号</th>
            <th>下单时间</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in records" ng-class="{warning: $first}">
            <td>{{record.state}}</td>
            <td><a ng-href="#/my/trips/{{record.bizTripId}}">{{record.bizTripId}}</a></td>
            <td>{{record.createTime | date: 'yyyy-MM-dd hh:mm'}}</td>
          </tr>
        </tbody>
      </table>
      <pagination
        boundary-links="true"
        total-items="totalItems"
        ng-model="queryParams.no"
        class="pagination-sm"
        max-size="5"
        items-per-page="queryParams.limit"
        ng-change="query()"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      </pagination>
    </div>
  </div>
</div>
<style>

  .slide {
    -webkit-transition: height 0.5s;
    transition:height 0.5s;
  }

  .fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: white;
  }

  .fixed > .panel {
    margin-bottom: 0;
  }

  .fixed > .panel > .panel-heading {
    padding: 5px 10px;
  }

  .fixed > .panel > .panel-heading > h6 {
    margin: 0 auto;
  }

  .fixed > .panel > .panel-body {
    height: 0;
    padding: 0 10px;
    font-size: 12px;;
  }

  .fixed > .panel > .panel-body > table {
    margin-bottom: 0;
  }

  .fixed > .panel > .panel-body > .pagination-sm {
    margin: 0 0;
  }

  .fixed > .panel > .panel-body > .pagination-sm > li > a {
    padding: 2px 8px;
  }

</style>
