<ul class="dropdown-menu dropdown-messages" style="width: 310px;">
  <li ng-repeat="record in records">
    <a href="#/my/messages/{{record.msgId}}">
      <div>
        <strong>{{record.title}}</strong>
        <span class="pull-right text-muted">
          <!-- 使用 filter -->
          <em>{{ record.createTime | fgTimeCost}}</em>
        </span>
      </div>
      <div>{{record.detail}}</div>
    </a>
    <div class="divider"/>
  </li>
  <li>
    <a class="text-center" href="#/my/messages">
      <strong>查看所有消息</strong>
      <i class="fa fa-angle-right"></i>
    </a>
  </li>
</ul>
