<div>
  <div class="form-group">
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <div class="col-xs-6 col-sm-3 col-lg-3 form-group" style="padding-top: 6px;" ng-repeat="p in passengers">
        <label for="">
          <input type="checkbox" name="type" ng-model="selects[$index]" ng-true-value="{{p}}"> {{p.nameCn}}
        </label>
      </div>
    </div>
  </div>
</div>