<div class="container">
  <div class="col-md-6 col-md-offset-3" style="margin-top: 15%;">
    <div class="alert alert-danger" ng-show="showAlert">
      登录名、邮箱校验失败!请填写正确的登录名和邮箱！
    </div>
    <div class="panel panel-info" ng-if="!sendOK">
      <div class="panel-heading">
        <h3 class="panel-title">忘记密码</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" fg-bootstrap-validator="fields" name="form">
          <div class="form-group">
            <label for="username" class="control-label col-xs-4 col-sm-3">登陆账号</label>
            <div class="col-xs-8 col-sm-9">
              <input class="form-control" type="text" name="username" id="username" ng-model="user.username"/>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label col-xs-4 col-sm-3">邮箱</label>
            <div class="col-xs-8 col-sm-9">
              <input class="form-control" type="text" name="email" id="email" ng-model="user.email"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
              <button class="btn btn-primary" name="submit" ng-click="send()">发送</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-info" ng-if="sendOK">
      <div class="panel-heading">
        <h3 class="panel-title">忘记密码</h3>
      </div>
      <div class="panel-body">
        <p>我们已经向您发送一封电子邮件包含一个链接，会让你在接下来的24小时重置您的密码。
          如果邮件没有出现在几分钟的时间，请检查您的垃圾邮件文件夹。</span></p>
        <p><a class="btn btn-primary" href="#/">返回登陆页面</button></a>
      </div>
    </div>

  </div>
</div>
