<div>
  <legend>权限列表</legend>
  <div class="form-group">
    <div class="col-xs-9 col-sm-10 col-xs-offset-3 col-sm-offset-2">
      <div class="col-xs-5 col-sm-4 form-group" style="padding-top: 6px;" ng-repeat="p in privs">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="type" ng-model="selects[$index]" ng-true-value="{{p.privId}}" ng-disabled="p.delFlag==='false'"> {{p.privName}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
