<ul class="nav navbar-nav navbar-top-links navbar-right">
  <li dropdown class="pointer">
    <a dropdown-toggle>
      <i class="fa fa-envelope fa-fw"></i>
      <i class="fa fa-caret-down"></i>
    </a>
    <!-- 我的消息提醒 -->
    <div bz-notification></div>
  </li>
  <li dropdown class="pointer">
    <a dropdown-toggle>
      <i class="fa fa-user"></i>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a ng-href="#myAccount">
          <i class="fa fa-user fa-fw"></i> 我的账户
        </a>
      </li>
      <li>
        <a ng-href="#my_password">
          <i class="fa fa-lock fa-fw"></i> 登陆密码
        </a>
      </li>
      <li>
        <a ng-href="#my_pay_password">
          <i class="fa fa-credit-card fa-fw"></i> 交易密码
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a fg-logout><i class="fa fa-sign-out fa-fw"></i>注销</a>
      </li>
    </ul>
  </li>
</ul>
