<!-- <div>
  <div class = "jk-font-12">
    <strong class = "jk-ico-warning">
      <span class="pointer"  ng-click = "flights.detail = !flights.detail">票价总计: ({{oneFlightPrice * passengers.length}} ¥)
      <i class="fa fa-angle-double-down" ng-hide = "flights.detail"></i>
      <i class="fa fa-angle-double-up" ng-show = "flights.detail"></i>
      </span>
    </strong>
  </div>

  <table class="table table-condensed table-bordered jk-font-11">
    <tr><td></td><td>机票</td><td>燃油</td><td>机建</td></tr>
    <tr ng-repeat = "f in flights">
      <td>{{$index+1}}</td>
      <td>{{f.cabin.price}}</td>
      <td>{{f.fuelCosts}}</td>
      <td>{{f.airportCstFee}}</td>
    </tr>
    <tr><td colspan = "4"><span class="pull-right">每人合计:{{oneFlightPrice}}</span></td></tr>
  </table>

  <div class = " jk-font-12">
    <strong class = "jk-ico-warning">
      <span class="pointer" ng-click = "passengers.detail = !passengers.detail">保险合计: ({{totalInsurance}} ¥)
        <i class="fa fa-angle-double-down" ng-hide = "passengers.detail"></i>
        <i class="fa fa-angle-double-up" ng-show = "passengers.detail"></i>
      </span>
    </strong>
  </div>

  <table class="table table-condensed table-bordered jk-font-11">
    <tr><td></td><td>乘机人</td><td>交通意外险</td><td>航空意外险</td><td>航空延误险</td></tr>
    <tr ng-repeat = "p in passengers">
      <td>{{$index+1}}</td>
      <td>{{p.idcName}}</td>
      <td><span ng-show = "p.insurances[0].num">¥ {{p.insurances[0].price}} x </span>{{p.insurances[0].num || 0}}</td>
      <td><span ng-show = "p.insurances[1].num">¥ {{p.insurances[1].price}} x </span>{{p.insurances[1].num || 0}}</td>
      <td><span ng-show = "p.insurances[2].num">¥ {{p.insurances[2].price}} x </span>{{p.insurances[2].num || 0}}</td>
    </tr>
  </table>
  <h4 class="jk-ico-warning pull-right">应付金额:{{pTotal}}</h4>
</div>
 -->
<div class="florder_price">
  <ul class="toc">
      <li class="row sum">
          <div class="cols">
              应付金额： <input type="hidden" id="txt_ticketAmount" value="525">
          </div>
          <div class="cols price right"><dfn>¥ </dfn>{{pTotal}}</div>
      </li>
      <li class="row order_detail"></li>
  </ul>
  <ul class="toc order_detail_list">

      <li class="row headline">
          <div class="cols">成人</div>
          <div class="cols right"><dfn>¥</dfn> {{oneFlightPrice}} x {{passengers.length}} 人</div>
      </li>
      <li class="row">
          <div class="cols">机票价</div>
          <div class="cols right"><dfn>¥</dfn> {{onePrice}} /人</div>
      </li>
      <li class="row">
          <div class="cols">机建费</div>
          <div class="cols right"><dfn>¥</dfn> {{oneAirport}} /人</div>
      </li>
      <li class="row">
          <div class="cols">燃油税</div>
          <div class="cols right"><dfn>¥</dfn> {{oneFuel}} /人</div>
      </li>
      
      <li class="row headline">
          <div class="cols"><span>保险费</span></div>
          <div class="cols right"><dfn>¥</dfn>{{totalInsurance}}</div>
      </li>
  </ul>
</div>