    <div class="col-sm-12" style="padding: 5px 5px 10px 5px;color:#777;border:solid 1px #e7e7e7">
      <div class="btn-group btn-group-xs-jk col-sm-2 padLR0" style="margin-top: 25px;">
        <label class="btn btn-default" ng-model="query.flightType" btn-radio="'OneWay'">单程</label>
        <label class="btn btn-default" ng-model="query.flightType" btn-radio="'Round'">往返</label>
        <label class="btn btn-default" ng-model="query.flightType" btn-radio="'StopOver'">联程</label>
      </div>
      <div class="col-sm-10 padLR0">
        <form class="form form-condensed-xs" role="form" ng-show = "query.flightType == 'OneWay'">
          <div class="form-group col-sm-2">
            <label >出发城市</label>
            <input bz-city ng-model = "query.departCity" placeholder="中文/拼音/首字母/三字码"/>
          </div>
          <div class="form-group col-sm-2">
            <label >达到城市</label>
            <input bz-city ng-model = "query.arriveCity" placeholder="中文/拼音/首字母/三字码"/>
          </div>
          <div class="form-group col-sm-2">
            <label >出发日期</label>
            <input date-picker type＝"text" class="form-control input-sm" ng-model=" query.departDate1"/>
          </div>
          <div class="form-group col-sm-2">
            <label> 
              <a ng-click="advanced = !advanced">更多条件
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </label>
            <a class="btn btn-xs-jk btn-primary" ng-click = "queryClick()">重新搜索</a>
          </div>
        </form>
        <form class="form form-condensed-xs" role="form" ng-show = "query.flightType  == 'Round'">
          <div class="form-group col-sm-2">
            <label>出发城市</label>
            <input  type＝"text" class="form-control input-sm"  ng-model="query.departCity"/>
          </div>
          <div class="form-group col-sm-2">
            <label>抵达城市</label>
            <input  type＝"text" class="form-control input-sm"  ng-model="query.arriveCity"/>
          </div>
          <div class="form-group col-sm-2">
            <label >出发日期</label>
            <input date-picker type＝"text" class="form-control input-sm" ng-model=" query.departDate1"/>
          </div>
          <div class="form-group col-sm-2">
            <label>返程日期</label>
            <input date-picker type＝"text" class="form-control input-sm" ng-model=" query.returnDate"/>
          </div>
          <div class="form-group col-sm-2">
            <label> 
              <a ng-click="advanced = !advanced">更多条件
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </label>
            <a class="btn btn-xs-jk btn-primary">重新搜索</a>
          </div>
        </form>
        <form class="form form-condensed-xs" role="form" ng-show = "query.flightType  == 'StopOver'">
          <div class="form-group col-sm-2">
            <label>出发城市</label>
            <input  type＝"text" class="form-control input-sm" ng-model="query.departCity"/>
          </div>
          <div class="form-group col-sm-2">
            <label>第一程日期</label>
            <input date-picker type＝"text" class="form-control input-sm" ng-model=" query.departDate1" />
          </div>
          <div class="form-group col-sm-2">
            <label >中转城市</label>
            <input type＝"text" class="form-control input-sm" ng-model="query.transferCity"/>
          </div>
          <div class="form-group col-sm-2">
            <label>第二程日期</label>
            <input date-picker type＝"text" class="form-control input-sm" ng-model=" query.departDate2"/>
          </div>
          <div class="form-group col-sm-2">
            <label>到达城市</label>
            <input type＝"text" class="form-control input-sm" ng-model=" query.arriveCity"/>
          </div>
          <div class="form-group col-sm-2">
            <label> 
              <a ng-click="advanced = !advanced">更多条件
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </label>
            <a class="btn btn-xs-jk btn-primary">重新搜索</a>
          </div>
        </form>
      </div>
      <div class="col-sm-10 col-sm-offset-2 padLR0" ng-show = "advanced == true" style="padding-top:5px">
        <div class="col-sm-2">
          <div class="input-group input-group-sm">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">成人</button>
            </span>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
          </div>
        </div>  
        <div class="col-sm-2">
          <div class="input-group input-group-sm">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">儿童</button>
            </span>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group input-group-sm">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">婴儿</button>
            </span>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
