
  <div class="col-sm-12 order-passenger-info">
    <p style="margin-bottom:10px">
    <span class="name">
      <span>{{passenger.idcName }}</span>
    </span>
      <label class="label label-default pull-right">已处理(客服：{{passenger.refund.handlingEmployee.name}})</label>
    </p>
    <p>
      <span class = "title">退票编号 : </span>
      <span class="import">{{passenger.refund.refundId}}</span>
    </p>
    <p>
      <span class = "title">退票申请时间 : </span>
      <span class="import">{{passenger.refund.applyTime | date: 'yyyy-MM-dd HH:mm'}}</span>
    </p>
    <p>
      <span class = "title">供应商退款金额 : </span>
      <span class="import">{{passenger.refund.supRefundMoney}}</span>
    </p>
    <p>
      <span class = "title">供应商退票手续费 : </span>
      <span class="import">{{passenger.refund.supHandlingFee}}</span>
    </p>
    <p>
      <span class = "title">采购商退款金额 : </span>
      <span class="import">{{passenger.refund.supRefundMoney}}</span>
    </p>
    <p>
      <span class = "title">采购商退票手续费 : </span>
      <span class="import">{{passenger.refund.supHandlingFee}}</span>
    </p>
    <p>
      <span class = "title">采购商结算方式 : </span>
      <span class="import">{{passenger.refund.way | dictFilter: payTypes}}</span>
    </p>
    <p>
      <span class = "title">备注 : </span>
      <span class="import">{{passenger.refund.remark}}</span>
    </p>
    <p>
      <span class = "title">证件信息 : </span>
      <span class = "import">{{passenger.idcTypeName}}</span>
      <span class = "import">{{passenger.idcNo}}</span>
    </p>
    <p>
      <span class = "title">成本中心 : </span>
      <span class = "import">{{passenger.costCenterName || passenger.costCenterId || '222'}}</span>
    </p>
    <p>
      <span class = "title">保险 : </span>
      <span class = "import" ng-repeat = "insurance in passenger.insurances">
        {{insurance.name || insurance.type}} x {{insurance.num}} 份
      </span>
    </p>
  </div>

