<div class="checkbox" style="margin-left: 15px; margin-bottom: 5px" ng-if="checkbox">
  <label>
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all"/>全选
  </label>
</div>
<div class="row" ng-repeat="refund in refunds">
  <div class="col-sm-6" ng-repeat="t in refund.refundTickets">
    <div class="panel panel-info">
      <div class="panel-heading">
        <input type="checkbox" ng-model="checkboxes.items[refund.refundId]" class="pull-left" ng-if="checkbox">
        <label class="label label-success pull-right">{{refund.handlingEmployee.name}}</label>
        <div class="row">
          <div class="col-sm-4">
            退票编号:{{refund.refundNo || refund.refundId}}
          </div>
          <div class="col-sm-5">
            申请时间:{{refund.applyTime | date: 'yyyy-MM-dd HH:mm'}}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal jk-font-13">
          <legend>基本信息</legend>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-5 control-label">原票号</label>
                <div class="col-sm-7">
                  <p class="form-control-static">{{t.origPlaneTicketNo}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-5 control-label">原PNR</label>
                <div class="col-sm-7">
                  <p class="form-control-static">{{refund.pnr}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-5 control-label">乘客</label>
                <div class="col-sm-7">
                  <p class="form-control-static">{{t.origTicket.idcName || t.origTicket.firstName + ' ' + t.origTicket.lastName}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-5 control-label">采购商</label>
                <div class="col-sm-7">
                  <p class="form-control-static">{{refund.purName}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" style="position: relative; left: 22px;">行程</label>
            <div class="col-sm-9" style="font-size: 6px; position: relative; left: 22px;">
              <p class="form-control-static">
              <div class="row" ng-repeat="od in refund.ods">
                <div class="col-sm-12" ng-repeat="s in od.segments">
                  <!--<div class="row">-->
                    <div class="row" style="border: dashed 1px #BFD3CE;border-collapse:collapse; margin-bottom: 5px">
                      <div class="col-sm-1"><i class="fa fa-plane text-primary"></i></div>
                      <div class="col-sm-2">{{s.takeOffTime | date: 'MM-dd'}}</div>
                      <div class="col-sm-3">{{s.departAirportName || s.departAirportCode}}({{s.takeOffTime | date: 'HH:mm'}})</div>
                      <div class="col-sm-2"><i class="fa fa-long-arrow-right" style="transform: scaleX(3)"></i> </div>
                      <div class="col-sm-3">{{s.arriveAirportName || s.arriveAirportCode}}({{s.arriveTime | date: 'HH:mm'}})</div>
                    </div>
                  <!--</div>-->
                </div>
              </div>
              </p>
            </div>
          </div>
          <div ng-show="refund.state===REFUNDING || refund.state===REFUNDED">
            <legend style="margin-top: 10px">回填信息</legend>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">供应商退票费</label>
                  <div class="col-sm-7" ng-if="!(checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING)">
                    <p class="form-control-static price">{{t.supRefundMoney | currency: '￥ '}}</p>
                  </div>
                  <div class="col-sm-7" ng-if="checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING">
                    <input type="text" class="form-control input-sm" ng-model="t.supRefundMoney"/>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">采购商退票费</label>
                  <div class="col-sm-7" ng-if="!(checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING)">
                    <p class="form-control-static price">{{t.purRefundMoney | currency: '￥ '}}</p>
                  </div>
                  <div class="col-sm-7" ng-if="checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING">
                    <input type="text" class="form-control input-sm" ng-model="t.purRefundMoney"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">供应商手续费</label>
                  <div class="col-sm-7" ng-if="!(checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING)">
                    <p class="form-control-static price">{{t.supHandlingFee | currency: '￥ '}}</p>
                  </div>
                  <div class="col-sm-7" ng-if="checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING">
                    <input type="text" class="form-control input-sm" ng-model="t.supHandlingFee"/>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">采购商手续费</label>
                  <div class="col-sm-7" ng-if="!(checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING)">
                    <p class="form-control-static price">{{t.purHandlingFee | currency: '￥ '}}</p>
                  </div>
                  <div class="col-sm-7" ng-if="checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING">
                    <input type="text" class="form-control input-sm" ng-model="t.purHandlingFee"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">新PNR</label>
                  <div class="col-sm-7" ng-if="!(checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING)">
                    <p class="form-control-static">{{refund.separatePnr}}</p>
                  </div>
                  <div class="col-sm-7" ng-if="checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING">
                    <input type="text" class="form-control input-sm" ng-model="refund.separatePnr"/>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">备注</label>
                  <div class="col-sm-7" ng-if="!(checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING)">
                    <p class="form-control-static">{{refund.completeRemark}}</p>
                  </div>
                  <div class="col-sm-7" ng-if="checkbox&&$parent.$parent.$parent.$parent.curState===REFUNDING">
                    <textarea ng-model="refund.completeRemark" class="form-control input-sm" rows="1"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <legend style="margin-top: 10px">费用合计</legend>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">实收价</label>
                  <div class="col-sm-7">
                    <p class="form-control-static price">{{t.supRefundMoney * 1 - t.supHandlingFee * 1 | currency: '￥ '}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-5 control-label">实退价</label>
                  <div class="col-sm-7">
                    <p class="form-control-static price">{{t.purRefundMoney * 1 - t.purHandlingFee * 1 | currency: '￥ '}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
  }
  legend{
    font-size: 13px;
  }
  .form-control-static{
    padding-bottom: 0;
  }
  .panel.panel-info{
    margin-bottom: 10px
  }
</style>
