<div class = "jk-font-color-7">
  <div class="form-group">
    <div class="col-xs-9 col-sm-10 col-xs-offset-3 col-sm-offset-2">
      <div class="col-xs-6 col-sm-3 form-group" style="padding-top: 6px;" ng-repeat="p in roles">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="type" ng-model="selects[$index]" ng-true-value="{{p.roleId}}"> {{p.roleName}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
