<div>
  <legend>个人信息</legend>
  <div class = "jk-font-color-7">
    <!--中文姓名-->
    <div class="form-group form-group-sm">
      <label for="id_nameCn" class="control-label col-xs-3 col-sm-2">姓名</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_nameCn" name="nameCn" ng-model="record.nameCn" >
      </div>
    </div>

    <!--性别-->
    <div class="form-group form-group-sm">
      <label for="" class="control-label col-xs-3 col-sm-2">性别</label>
      <div class="col-xs-9 col-sm-10">
        <label class="radio-inline">
          <input type="radio" name="sex" ng-model="record.sex" value="0"> 男
        </label>
        <label class="radio-inline">
          <input type="radio" name="sex" ng-model="record.sex" value="1"> 女
        </label>
      </div>
    </div>

    <!--出生日期-->
    <div class="form-group form-group-sm">
      <label for="id_birthday" class="control-label col-xs-3 col-sm-2">出生日期</label>
      <div class="col-xs-9 col-sm-10">
        <input date-picker type="text" class="form-control input-sm" id="id_birthday" name="birthday" ng-model="record.birthday"/>
      </div>
    </div>

    <!--手机号码-->
    <div class="form-group form-group-sm">
      <label for="id_mobilephone" class="control-label col-xs-3 col-sm-2">手机号码</label>
      <div class="col-xs-9 col-sm-10">
        <input type="mobile" class="form-control input-sm" id="id_mobilephone" name="mobilephone" ng-model="record.mobilephone">
      </div>
    </div>

    <!--电子邮箱-->
    <div class="form-group form-group-sm">
      <label for="id_email" class="control-label col-xs-3 col-sm-2">电子邮箱</label>
      <div class="col-xs-9 col-sm-10">
        <input type="email" class="form-control input-sm" id="id_email" name="email" ng-model="record.email">
      </div>
    </div>

    <!--联系电话-->
    <div class="form-group form-group-sm">
      <label for="id_phone" class="control-label col-xs-3 col-sm-2">联系电话</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_phone" name="phone" ng-model="record.phone" >
      </div>
    </div>

    <div class="form-group form-group-sm">
      <div class="col-xs-offset-3 col-sm-offset-2 col-xs-9 col-sm-10">
        <button class="btn btn-primary btn-sm" ng-click="update();" style = "width:120px"><i class = "fa fa-refresh"></i> 更新
        </button>
        <button class="btn btn-default btn-sm" ng-click="reset();">重置</button>
      </div>
    </div>
  </div>

  <legend style="margin-top:30px">职位信息</legend>
  <div class = "jk-font-color-7">
    <!--员工等级-->
    <div class="form-group form-group-sm">
      <label for="id_userLevelId" class="control-label col-xs-3 col-sm-2">员工等级</label>
      <div class="col-xs-9 col-sm-10">
        <select class="form-control input-sm" name="userLevelId" id="id_userLevelId" ng-options="e.userLevelId as e.levelName for e in employeeGrades"
                ng-model="record.userLevelId" disabled>
        </select>
      </div>
    </div>

    <!--职务-->
    <div class="form-group form-group-sm">
      <label for="id_job" class="control-label col-xs-3 col-sm-2">职务</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_job" name="job" ng-model="record.job" disabled>
      </div>
    </div>

    <!--岗位-->
    <div class="form-group form-group-sm">
      <label for="id_position" class="control-label col-xs-3 col-sm-2">岗位</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_position" name="position" ng-model="record.position" disabled>
      </div>
    </div>

    <!--工号-->
    <div class="form-group form-group-sm">
      <label for="id_employeeNo" class="control-label col-xs-3 col-sm-2">工号</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" id="id_employeeNo" name="employeeNo" ng-model="record.employeeNo" disabled>
      </div>
    </div>

    <!--部门选择-->
    <div class="form-group form-group-sm">
      <label for="id_deptId" class="control-label col-xs-3 col-sm-2">部门</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" name="deptId" id="id_deptId" ng-model="record.deptId" fg-dept-read disabled/>
      </div>
    </div>


  </div>

</div>
