<div>
  <div class="form-group">
    <label for="" class="control-label col-xs-3 col-sm-2 col-lg-1">优选位置</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <div class="radio">
        <label for="">
          <input type="radio" name="position" > 靠窗
        </label>
        <label for="">
          <input type="radio" name="position" > 靠过道
        </label>
        <label for="">
          <input type="radio" name="position" > 中间
        </label>
        <label for="">
          <input type="radio" name="position" > 无所谓
        </label>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label for="" class="control-label col-xs-3 col-sm-2 col-lg-1">舱位等级</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <div class="checkbox">
        <label for="">
          <input type="checkbox"> 头等舱
        </label>
        <label for="">
          <input type="checkbox"> 商务舱
        </label>
        <label for="">
          <input type="checkbox"> 经济舱
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="" class="control-label col-xs-3 col-sm-2 col-lg-1">饮食习惯</label>
    <div class="col-xs-9 col-sm-10 col-lg-11">
      <div class="checkbox">
        <label for="">
          <input type="checkbox"> 穆私林餐
        </label>
        <label for="">
          <input type="checkbox"> 素餐
        </label>
        <label for="">
          <input type="checkbox"> 中餐
        </label>
        <label for="">
          <input type="checkbox"> 西餐
        </label>
      </div>
    </div>
  </div>

  <input
   fg-form-control
   type="text"
   label="乘机次数"
   label-class="col-xs-3 col-sm-2 col-lg-1"
   class="col-xs-9 col-sm-10 col-lg-11"
   placeholder="次/年"/>

  <textarea
   fg-form-control
   type="text"
   label="常飞航线"
   label-class="col-xs-3 col-sm-2 col-lg-1"
   class="col-xs-9 col-sm-10 col-lg-11"
   placeholder="常飞航线">
  </textarea>
</div>