<div class="row">
  <div class="col-xs-3 col-sm-2">
  </div>
  <div class="col-xs-9 col-sm-10">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="输入姓名查询" ng-model="queryParams.keywords" ng-change="queryStaves();">
          <span class="input-group-btn">
            <button class="btn button-flat-primary" type="button" ng-click="queryStaves();" style="width:100px;border:solid 1px transparent">
              <i class = "fa fa-search"> 查询</i>
            </button>
          </span>
    </div>
  </div>
</div>
<table class="table table-hover marginTB15">
  <thead>
  <tr>
    <th>#</th>
    <th>姓名</th>
    <th>工号</th>
    <th>部门</th>
  </tr>
  </thead>
  <tbody class = "jk-font-13">
  <tr ng-repeat="record in staves">
    <td>
      {{(queryParams.no - 1) * queryParams.limit + $index + 1}}
    </td>
    <td><a ng-href="#/staves/{{record.userId}}">{{record.nameCn}}</a></td>
    <td>{{record.employeeNo}}</td>
    <td>{{record.deptName}}</td>
  </tr>
  </tbody>
</table>

<div class="row" ng-if="total>10">
  <div class="col-lg-12">
    <pagination
      class="pagination-sm"
      max-size="5"
      items-per-page="queryParams.limit"
      total-items="total"
      ng-model="queryParams.no"
      ng-change="queryStaves()">
    </pagination>
  </div>
</div>
