
  <div class="col-sm-12 order-passenger-info">
    <p style="margin-bottom:10px">
    <span class="name">
      <span><input type="checkbox" ng-model="checkboxes.items[passenger.planeTicketId]" ng-show="state===TICKT_CHANGE_STATE_UNCHANGE"/> {{passenger.idcName }}</span>
    </span>
      <label class="label label-success pull-right">未处理</label>
    </p>

    <div class="row">
      <div class="col-sm-6">
        <p>
          <span class = "title">改签编号 : </span>
          <span class="import">{{passenger.change.changeId}}</span>
        </p>
        <p>
          <span class = "title">改签申请时间 : </span>
          <span class="import">{{passenger.change.applyTime | date: 'yyyy-MM-dd HH:mm'}}</span>
        </p>
        <p>
          <span class = "title">原PNR : </span>
          <span class="import">{{passenger.change.pnr}}</span>
        </p>
        <p>
          <span class = "title">证件信息 : </span>
          <span class = "import">{{passenger.idcTypeName}}</span>
          <span class = "import">{{passenger.idcNo}}</span>
        </p>
        <p>
          <span class = "title">成本中心 : </span>
          <span class = "import">{{passenger.costCenterName || passenger.costCenterId || '222'}}</span>
        </p>
        <p>
          <span class = "title">保险 : </span>
          <span class = "import" ng-repeat = "insurance in passenger.insurances">
            {{insurance.name || insurance.type}} x {{insurance.num}} 份
          </span>
        </p>
      </div>
      <div class="col-sm-6"></div>
    </div>
  </div>
