
  <div class="col-sm-12 order-passenger-info">
    <p style="margin-bottom:10px">
    <span class="name">
      <span><input type="checkbox" ng-model="checkboxes.items[$index]" ng-show="state===UNREFUND"/> {{passenger.idcName }}</span>
    </span>
      <label class="label label-success pull-right">未处理</label>
    </p>
    <p>
      <span class = "title">退票编号 : </span>
      <span class="import">{{passenger.refund.refundId}}</span>
    </p>
    <p>
      <span class = "title">退票申请时间 : </span>
      <span class="import">{{passenger.refund.applyTime | date: 'yyyy-MM-dd HH:mm'}}</span>
    <p>
      <span class = "title">证件信息 : </span>
      <span class = "import">{{passenger.idcTypeName}}</span>
      <span class = "import">{{passenger.idcNo}}</span>
    </p>
    <p>
      <span class = "title">成本中心 : </span>
      <span class = "import">{{passenger.costCenterName || passenger.costCenterId || '222'}}</span>
    </p>
    <p>
      <span class = "title">保险 : </span>
        <span class = "import" ng-repeat = "insurance in passenger.insurances">
          {{insurance.name || insurance.type}} x {{insurance.num}} 份
        </span>
    </p>
  </div>
