
  <div class="col-sm-12 order-passenger-info">
    <p style="margin-bottom:10px">
    <span class="name">
      <span>{{passenger.idcName }}</span>
      <label class="label label-success pull-right">未处理</label>
    </span>
    </p>
    <p>
      <span class = "title">证件信息 : </span>
      <span class = "import">{{passenger.idcTypeName}}</span>
      <span class = "import">{{passenger.idcNo}}</span>
    </p>
    <p>
      <span class = "title">成本中心 : </span>
      <span class = "import">{{passenger.costCenterName || passenger.costCenterId || '222'}}</span>
    </p>
    <p>
      <span class = "title">保险 : </span>
      <span class = "import" ng-repeat = "insurance in passenger.insurances">
        {{insurance.name || insurance.type}} x {{insurance.num}} 份
      </span>
    </p>
  </div>

