<div>
  <div class="navbar navbar-fixed-top navbar-default navbar-inverse" role="navigation" id="id-navbar-toggle">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">导航开关</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/welcome">{{title}}</a>
      </div>
      <div class="collapse navbar-collapse">
        <!-- 导航栏菜单，根据 sessionStorage 存储的 token 值决定是否显示菜单 -->
        <div fg-app-navbar-menu ng-if="isAuthed();"></div>
        <!-- 个人中心 -->
        <div bz-personal-center></div>
      </div>
    </div>
  </div>
</div>
