<ul id="menu" class="nav navbar-nav">
  <li class="dropdown" ng-repeat="menu in menus">
    <!-- 一级菜单拥有 path 时 -->
    <a ng-href="#/{{menu.path}}" class="menu pointer" data-toggle="dropdown" ng-if="menu.path">
      {{menu.menuName}}
      <b class="caret" ng-if="menu.children.length > 0"></b>
    </a>
    <!-- 一级菜单不拥有 path 时 -->
    <a class="menu pointer" data-toggle="dropdown" ng-if="!menu.path">
      {{menu.menuName}}
      <b class="caret" ng-if="menu.children.length > 0"></b>
    </a>
    <ul class="dropdown-menu" ng-if="menu.children.length > 0">
      <li ng-repeat="i in menu.children" class="dropdown-submenu pointer">
        <a ng-href="#/{{i.path}}">
          {{i.menuName}}
            <i class="fa fa-sort-down fa-rotate-270" ng-if="i.show"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>
