<div class="modal-header modal-">
  <h4 class="modal-title">人员选择</h4>
</div>
<div class="modal-body">
  <!--已选人员-->
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="control-label control-label col-xs-3 col-sm-2">已选人员</label>
      <div class="col-xs-9 col-sm-10">
        <input type="text" class="form-control input-sm" fg-tagsinput
               ng-model="selectedUsers" item-value="id" item-text="name" />
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label control-label col-xs-3 col-sm-2">部门</label>
      <div class="col-xs-2 col-sm-3">
        <input type="text" class="form-control input-sm" ng-model="queryParams.deptId" fg-dept-read ng-change="query()"/>
      </div>
      <div class="col-xs-7 col-sm-7">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control input-sm" placeholder="请输入员工姓名或工号" ng-model="queryParams.keywords" ng-change="query()">
            <span class="input-group-btn">
              <button class="btn button-flat-primary btn-sm" type="button" ng-click="query();" style = "border:solid 1px transparent;width:100px">
                <i class = "fa fa-search"> 查询</i>
              </button>
            </span>
        </div>
      </div>
    </div>
  </form>
  <!--全选-->
  <div class="checkbox row-space" ng-if="multi">
    <label>
      <input type="checkbox" ng-model="checkboxes.checked" id="select_all"/>全选
    </label>
  </div>
  <!--人员多选-->
  <div class="row" ng-if="multi">
    <div class="col-lg-4 row-space" ng-repeat="item in users">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="checkboxes.items[item.id]"/>{{item.name}}(No:&nbsp;{{item.code}})
        </label>
      </div>
    </div>
  </div>
  <!--人员单选-->
  <div class="row" ng-if="!multi">
    <div class="col-lg-4 row-space" ng-repeat="item in users">
      <div class="radio" style="margin-bottom: 0; margin-top: 0">
        <label>
          <input type="radio" name="user" ng-model="$parent.$parent.selectedUser" ng-value="item"/>{{item.name}}(No:&nbsp;{{item.code}})
        </label>
      </div>
    </div>
  </div>
  <div class="row" ng-if="total>queryParams.limit">
    <div class="col-lg-12">
      <pagination style="margin-bottom: 0"
        class="pagination-sm"
        max-size="5"
        items-per-page="queryParams.limit"
        total-items="total"
        ng-model="queryParams.no"
        ng-change="query()">
      </pagination>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn button-flat-primary btn-sm" name="submit" ng-click="save();" style="width:100px">
    <i class = "fa fa-save"></i>
    保存
  </button>
  <button class="btn btn-flat-default btn-sm"  ng-click="cancel();">取消</button>
</div>
