<ul>
  <li>
    <a>订单管理</a>
    <ul class="bz-nav">
      <li>
        <a ng-class="{'active': path==='/my/trips'}" ng-href="#my/trips">出票订单</a>
      </li>
      <li>
        <a ng-class="{'active': path==='/my/trips'}" ng-href="#my/trips">退票订单</a>
      </li>
    </ul>
  </li>
  <li>
    <a>系统管理</a>
    <ul class="bz-nav">
      <li>
        <a ng-class="{'active': path==='/roles'}" ng-href="#/roles">角色管理</a>
      </li>
      <li>
        <a ng-class="{'active': path==='/staves'}" ng-href="#/staves">员工管理</a>
      </li>
    </ul>
  </li>
  <li>
    <a>个人信息</a>
    <ul class="bz-nav">
      <li>
        <a ng-class="{'active': path==='/myAccount'}" ng-href="#/myAccount">我的资料</a>
      </li>
      <li>
        <a ng-class="{'active': path==='/my_password'}" ng-href="#/my_password">登录密码</a>
      </li>
      <li>
        <a ng-class="{'active': path==='/my_pay_password'}" ng-href="#/my_pay_password">交易密码</a>
      </li>
    </ul>
  </li>
</ul>
