<legend>
  <div class="row row-space">
    <div class="col-sm-4">应收账款</div>
    <div class="col-sm-8 text-right"><button class="btn btn-sm btn-primary" ng-click="balance(1)">结算应收</button></div>
  </div>
</legend>
<table class="table table-hover table-condensed">
  <thead>
    <tr class="title">
      <th><input type="checkbox" ng-model="checkboxes1.checked" id="select_all1"/></th>
      <th>#</th>
      <th>订单编号</th>
      <th>PNR</th>
      <th>人数</th>
      <th>行程</th>
      <th>业务员</th>
      <th>订单类型</th>
      <th>财务明细时间</th>
      <th class="text-right">销售金额</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in collects">
      <td><input type="checkbox" ng-model="checkboxes1.items[c.detailId]"/></td>
      <td>{{$index + 1}}</td>
      <td><a ng-href="#/tickets/issues/{{c.order.planeOrderId}}?from=balance">{{c.order.planeOrderId}}</a></td>
      <td>{{c.order.pnr}}</td>
      <td>{{c.order.passengerNum}}</td>
      <td>
        <div ng-repeat="flight in c.order.flights">
          {{flight.departCityName || flight.departCityCode}} - {{flight.arriveCityName || flight.arriveCityCode}}
          {{flight.takeOffTime | date: 'yyyy-MM-dd HH:mm'}}
        </div>
      </td>
      <td>{{c.operUserName}}</td>
      <td>{{}}</td>
      <td>{{c.operTime | date: 'yyyy-MM-dd HH:ss'}}</td>
      <td class="text-right">{{c.operMoney | customCurrency:"￥ "}}</td>
    </tr>
  </tbody>
</table>
<div class="col-sm-12 text-right">
  <b style="font-size: 20px;">所选应收：{{collectMoney | customCurrency:"￥ "}}</b>
</div>
<legend>
  <div class="row row-space">
    <div class="col-sm-4">应付账款</div>
    <div class="col-sm-8 text-right"><button class="btn btn-sm btn-primary" ng-click="balance(2)">结算应付</button></div>
  </div>
</legend>
<table class="table table-hover table-condensed">
  <thead>
    <tr class="title">
      <th><input type="checkbox" ng-model="checkboxes2.checked" id="select_all2"/></th>
      <th>#</th>
      <th>退票编号</th>
      <th>票号</th>
      <th>旅客姓名</th>
      <th>原订单编号</th>
      <th>PNR</th>
      <th>退票类型</th>
      <th>财务明细时间</th>
      <th class="text-right">退款金额</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in pays">
      <td><input type="checkbox" ng-model="checkboxes2.items[p.detailId]"/></td>
      <td>{{$index + 1}}</td>
      <td><a ng-href="#/tickets/returns/{{p.refund.refundId}}?from=balance">{{p.refund.refundId}}</a></td>
      <td>{{p.refund.planeTicketNo}}</td>
      <td>{{p.passenger.idcName}}</td>
      <td>{{p.refund.planeOrderId}}</td>
      <td>{{p.refund.pnr}}</td>
      <td>{{}}</td>
      <td>{{p.operTime | date: 'yyyy-MM-dd HH:ss'}}</td>
      <td class="text-right">{{p.operMoney | customCurrency:"￥ "}}</td>
    </tr>
  </tbody>
</table>
<div class="col-sm-12 text-right">
  <b style="font-size: 20px;">所选应付：{{payMoney | customCurrency:"￥ "}}</b>
</div>
<div class="row bg-info row-space" style="margin-top: 50px">
  <div class="col-sm-3 col-lg-offset-4"><b style="font-size: 20px;">预收款余额: {{purchaser.prepayment | customCurrency:"￥ "}}</b></div>
  <div class="col-sm-5 text-right"><b style="font-size: 20px;">
    所选应收-所选应付-预收款= {{(collectMoney - payMoney - purchaser.prepayment) | customCurrency:"￥ "}}</b>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-primary" ng-click="balance(3)">结算操作</button>
  </div>
</div>
